[2017-04-20 18:58] fejta commented on #128
Thanks for the clarification. Agree my comment is off topic. Please ignore.

[2017-04-21 05:31] rothgar commented on #128
@ahmetb I love the idea of having code examples. It helps new people get started and lets you jump in at your own level rather than code training sites that take you from the beginning. A couple questions I have though.

1. Is this the place for sample applications? It's probably recommended to use the go client to write a scheduler but it by no means is the only way to do it. I don't have an answ

[2017-04-21 09:56] ymruan commented on #128
A sample implementation of operator(controller) with TPR may help the developer to understand the client-go.

[2017-04-21 16:43] ahmetb commented on #128
@rothgar great questions:

1. I am hoping to have sample apps (scaffolding scheduler etc) for all officially supported languages. In this case I believe it’s Python and Go. It's also my goal to not to scare people in any way and lower the barrier to extend Kubernetes as much as possible. So we’re on the same page. 👍 That said, if the scaffolding apps turn out to be way more complex then we imagine

[2017-04-22 16:24] nvartolomei opened #183 "Using client-go 2.0 with k8s 1.5"
I'm trying to use 2.0 branch of `client-go` to access resources on a 1.5 k8s cluster. Looking at [compatibility matrix](https://github.com/kubernetes/client-go#compatibility-matrix) I expect this to work.

Looks like it is not the case `Failed to list *v1beta1.StatefulSet: the server could not find the requested resource`.

It there a way to list alpha/beta/stable resources using a single client?

[2017-04-24 15:51] ericchiang commented on #78
Some issues that may be blocking:

- [ ] Dep doesn't remove nested vendor directories https://github.com/golang/dep/issues/120
- [ ] Dep can't detect transitive dependencies of client-go. Need to either:
    - [ ] Publish a dep manifest once that format is stable https://github.com/golang/dep/issues/276
    - [ ] Wait for glide to support detecting other vendor tool manifests https://github.com/go

[2017-04-30 14:36] archisgore opened #184 "k8s.io repos down?"
Problem:
[code]

This began happening today morning. The URL expands to: `https://kubernetes.io/client-go/1.5/kubernetes`

I get a 404 not found page.

As a note, why doesn't this client repo just reference itself without going through a 3rd party redirection service? Should I be forking and replacing `k8s.io` references with `github.com/kubernetes/*`?

[2017-04-30 20:46] sdboyer commented on #78
It does. (It doesn't provide an option not to, as otherwise it couldn't guarantee correct compilation).

golang/dep#120 is about pruning _additional_ directories - e.g., unused packages.

This shouldn't be the case - if it's in the import graph, direct or transitive, then it should be picked up without issue. If that's not the case, please please, open an issue against dep!

If your goal here is a

[2017-04-30 21:04] caesarxuchao commented on #78
client-go only have godep.json, which is not recognized by `dep`, so dep just downloads the HEAD of the transitive dependencies of client-go.

[2017-04-30 21:37] sdboyer commented on #78
Ah! I see what you meant now. There's still a few things this could mean, but if the concern is just the initial setup of dep, then you can achieve the same effect by `godep restore`-ing onto your GOPATH: `dep init` reads the state of your GOPATH and tries to construct a constraint set from there.

For more direct integration, I see you already found golang/dep#222; the main issue for it is golang

[2017-04-30 22:04] archisgore commented on #184
Began working again.

[2017-04-30 22:04] #184 closed

[2017-05-01 17:19] caesarxuchao commented on #78
Cool. Is there an ETA?

Thanks! Good to know.

[2017-05-01 17:43] sdboyer commented on #78
The main priority right now is stabilizing the file formats, so I haven't put a timeframe on it yet. But stabilizing the CLI interface - golang/dep#277 - is the next major priority in the roadmap; if current plans hold, we'll turn our focus to that mid-May. I suspect that godep support will be high on the priority list. So, maybe...a month? That's totally not firm, of course.

That said, progress

[2017-05-02 05:02] MikeSpreitzer commented on #60
Does this mean the Golang struct `Example` should omit the typemeta?

[2017-05-02 16:07] MikeSpreitzer commented on #60
I made an updated version, see https://github.com/MikeSpreitzer/tpr-example

[2017-05-04 19:39] cilindrox opened #185 "[question] Idiomatic way to update a Deployment and its Annotations?"
So, I'm using the following code (in-cluster, kubernetes v1.6.2, GKE) to update an existing Deployment's image. I'm also trying to add a `deployed-by` annotation.

[code]

Image gets updated and deployment is rolled out without any issues whatsoever. Annotations however do not get added/updated at all.

Any clues as to what I'm doing wrong here?

[2017-05-05 05:22] krmayankk commented on #185
@cilindrox annotations are not propagated to pods by default, you have to expplicitly pass them in the pod template as well. You havent clarified above if the annotations are NOT updated in pods or deployments ?

[2017-05-05 13:26] cilindrox commented on #185
@krmayankk thanks for the input. Trying to update de annotation on the Deployment currently. Seeing neither the Deployment (unexpected) nor the pods (expected) being affected by it.

[2017-05-07 07:01] ash2k commented on #165
Given the plans for TPR graduating to beta and all the planned changes, this seems no longer relevant.

[2017-05-07 07:01] #165 closed

[2017-05-09 18:08] slintes commented on #163
I had the same problem and would be happy to share my finding with a PR for an extended example. Do I see it correct that I can edit the examples directly in kubernetes/staging/src/k8s.io/client-go/examples? I don't see them in kubernetes/pkg/client...

[2017-05-10 19:01] ae6rt commented on #18
Thank you for this k8s client.  It's very helpful.

Do you have any advice around suppressing glog's hoisting of its command line flags into the help output of tools that use the k8s client.

For example, those flags whose descriptions are not decorated with "MyApp" are coming from glog's init function:  https://github.com/golang/glog/blob/master/glog.go#L398

[code]

[2017-05-11 05:00] caesarxuchao commented on #183
1.4 server only has v1alpha1.statefulset: https://github.com/kubernetes/kubernetes/tree/v1.4.0/pkg/apis/apps

1.5 server only has v1beta1 statefulset: https://github.com/kubernetes/kubernetes/tree/v1.5.0/pkg/apis/apps

client-go 2.0 is tracking kubernetes 1.5 release, so it only has v1beta1 statefulset.

Regarding the error you observed, could you try `kubectl apiversions` to see what resources ar

[2017-05-11 05:03] caesarxuchao commented on #185
What's the annotations of the deployment returned by Update()?

[2017-05-11 13:50] nvartolomei commented on #183
@caesarxuchao this basically means there is no way to support multiple versions of Kubernetes (1.3, 1.4, 1.5) using client-go 2.0?

If the client kept v1alpha1 definitions then user could use either v1alpha1 or v1beta1 depending on the server (kubernetes).

[2017-05-11 17:50] caesarxuchao commented on #183
Unfortunately, not by using the /kubernetes package. You can try the dynamic client in /dynamic, depending on what you intend to do.

We should update the meaning of `+` in the compatibility matrix, adding "alpha/beta features might be missing in client-go".

client-go shares same version API types with kubernetes, it's difficult to maintain multiple versions. We plan to distribute the client gene

[2017-05-12 10:12] #183 closed

[2017-05-12 13:15] andrejvanderzee commented on #151
@caesarxuchao Works indeed, thanks.

[2017-05-12 13:15] #151 closed

[2017-05-12 16:15] ahmetb opened #186 ""dep init" fail with error "No versions of k8s.io/client-go met constraints""
(Related issue: #176,  but it is not the same.)

Repro:

[code]

[2017-05-12 16:29] ahmetb opened #187 "Better error for rest.InClusterConfig when not in-cluster"
When you run `go run examples/in-cluster/main.go` while out-of-cluster, you get a **nice error** saying:

[code]

This indicates perhaps I am not in-cluster. So I try to fix the situation by running `kubectl proxy --api-prefix=/` then by running:

[code]

Not a nice error anymore.

Would it make sense to wrap this error with a nice message instead of just doing `panic(err)` on ENOENT? example:

[2017-05-12 16:45] ahmetb opened #188 "Make out-of-cluster example work out-of-the-box"
[code]

What if we configured

    kubeconfig := flag.String("kubeconfig", "./config", "absolute path to the kubeconfig file")

to be `filepath.Join(homedir, ".kube", "config")`? We can easily determine homedir using HOME (linux, mac) or USERPROFILE (windows) environment variables.

[2017-05-12 16:47] ahmetb commented on #188
A better option might be not having `./config` default and requiring explicitly a value (along with a documentation in `out-of-cluster/README.md` on how to run the example.

[2017-05-12 16:49] ahmetb opened #189 "BUILD files in client-go repository"
I am wondering if Bazel BUILD files in this repository serve any particular reason (e.g. does the CI etc build/test the repository and uses Bazel for it)?

If not, having BUILD files might actually be confusing. Especially in `examples/*/` directories, users probably will click to something they don't necessarily understand. I personally don’t know Bazel and seeing that doesn’t help me with anythi

[2017-05-12 17:05] ahmetb opened #190 "Issue with TPRs and ugorji?"
I came across this in [examples/third-party-resources/types.go](https://github.com/kubernetes/client-go/blame/master/examples/third-party-resources/types.go#L65-L67)

[code]

Is this still valid (I see last update to this hunk was 6 months ago) What's the ugorji issue? (I assume this is https://github.com/ugorji/go/tree/master/codec package. I don't see any relevant open issues there).

[2017-05-12 19:16] ahmetb opened #191 "examples/third-party-resource: doesn't run successfully on the first run"
first time:
[code]

next time:
[code]

/assign

[2017-05-12 23:06] gamerscomplete opened #192 "How to switch context"
I have searched everywhere and cannot figure out how to switch context in a configuration with multiple clusters.

Is there some way in code to be able to set the context that you want to use?

[2017-05-14 21:57] newtonkishore opened #193 "Support for parsing K8s yaml spec into client-go data structures"
Hi,

I am trying to create K8s cluster with spec coming from yaml files. I had to write Yaml equivalent of the same datastructures to convert the spec from yaml to go data structures to start the cluster.

 The Kubernetes/client-go data structures are tuned to Json Parsing, can we just add "`yaml:""` " support to client-go datastructures?

Or is there a better way to do this?

Thanks.

[2017-05-15 11:32] andrejvanderzee opened #194 "Unit testing: fake.NewSimpleClientset(obj) does not work as expected"
In the unit test below I would expect to find v1svc in the fake clientset. But, I get the error: `Service "push" not found`. Maybe I am misunderstanding something, but should fake.NewSimpleClientset(obj) not initialize the clientset with the obj?

[code]

[2017-05-15 12:15] rmohr commented on #45
Until the work on this ticket is done, it is pretty simple to use ther `rest.Config` to create your own exec call. I created a [simple example](https://github.com/rmohr/kubernetes-custom-exec). [A detailed description](http://rmohr.github.io/kubernetes/2017/05/15/writing-a-custom-kubectl-exec-command) is also available.

[2017-05-15 14:39] rcorre commented on #186
The line `"ImportPath": "github.com/emicklei/go-restful/swagger",` in `Godeps.json` references a non-existant package. It is causing a problem for me as well, trying to save my project dependencies with `godep`.

[2017-05-15 17:49] rcorre commented on #186
It was removed in emicklei/go-restful@24f362968e4ac4f9f0a7f6c74ac4d66369716e16. I fixed it by checking out the commit before that (tag `1.0.0`) in `$GOPATH/github.com/emicklei/go-restful`

[2017-05-15 19:29] ahmetb commented on #193
@newtonkishore consider converting from YAML to JSON and then unmarshaling into structs as the `json:""` field tags are there.

[2017-05-15 19:31] ahmetb commented on #193
Or actually I'm not sure, I saw something in the issue description of #194 which looks like there's a universal decoder you can use.

[2017-05-16 06:59] rmohr commented on #193
@newtonkishore you can use  `yaml.yaml.NewYAMLOrJSONDecoder(reader, buffSize)` from   `k8s.io/client-go/pkg/util/yaml`. You can pass in JSON or YAML, and it will use the `json:""` annotations for both formats.

[2017-05-16 07:04] rmohr commented on #191
@ahmetb probable because of the 10 second sync delay in the `thirdparty_controller` https://github.com/kubernetes/features/issues/95#issuecomment-255575716?

I could think about retrying in the example for 11 seconds and then panic, if it still does not work, until this is fixed. What do you think?

[2017-05-16 07:24] rmohr commented on #128
@ahmetb We are using client-go in [KubeVirt](https://github.com/kubevirt/kubevirt). I think the layout looks great. It pretty much covers everything which we currently use and it would have helped us to get started.

I would also add an example for completely customized http clients, which integrate with the kubernetes security layers. It took me some time to figure out, how to write your own webs

[2017-05-16 07:27] rmohr commented on #163
@slintes, yes `staging/src/k8s.io/client-go/examples/` is the right place.

[2017-05-16 11:35] rossf7 commented on #190
I think this is still a problem at least in the `release-2.0` branch. There was a lot of discussion in #8.

I came to #8 due to this problem with watching TPRs kubernetes/kubernetes#26003. I tried to apply the workaround in one of our TPRs with this [change](https://github.com/giantswarm/certificatetpr/commit/47a844363c25027d0c114042ec1503c5d743ef99) but still getting decode errors with our delete

[2017-05-16 16:44] ahmetb commented on #191
@rmohr I'm not super familiar with the API but instead of retrying a failing call, I would prefer polling until the TPR shows up in the List call for resource types (I'm assuming this is a thing).

[2017-05-17 18:21] ahmetb commented on #189
Anyone has opinions about this? tl;dr I think we should not have `BUILD` files in this repository, especially in `examples/*`

[2017-05-18 14:53] andrejvanderzee opened #196 "(&rest.Request{}).Stream() segfaults"
The code below segfaults. It would be more convenient to return an error instead. This happens on version 2.0.0 and 3.0.0-beta.0.

[code]

[2017-05-18 16:12] ericchiang commented on #196
Request has an initializer.[1] Why aren't you using that?

Lots of go structs exhibit similar behavior. For example the following program panics:

[code]

[1] https://godoc.org/k8s.io/client-go/rest#NewRequest

[2017-05-18 16:53] andrejvanderzee commented on #196
I want to write a unit test for PodExpansion interface using FakePods. In client-go/kubernetes/typed/core/v1/fake/fake_pod_expansion.go the following code returns `&rest.Request{}`

[code]
This obviously results in a segfault as soon as my code calls `Stream()`.

[2017-05-18 17:06] ericchiang commented on #196
Ah, that's a different issue then.

Hmm, with a fake client, Stream isn't going to give you anything and I don't see a way to set the Request error without making an HTTP call. Does restructuring your test to take an io.ReadCloser work? I wouldn't see client-go adding setters for the error specifically for testing.

[2017-05-18 17:52] andrejvanderzee commented on #196
Unless you see another way, it looks like that I have to write my own version of FakePods with its own GetLogs() that returns my own fake.Request{}.

[2017-05-20 23:33] medyagh opened #197 "segmentation violation code when I run it for minikube (works fine for real kubernetes clusters)"
When I run this code for a real kubernetes cluster it works fine,  but when I run it for minkube context I get this error:

[code]

To make sure it is not related to kuberentes version, I made my minikube to start with same version as my kuberentes (1.5.1)

here are my kubectl version
[code]
Here is part of the code that throws error:
[code]

and here is how I can get my kubeconfig and clientset

[2017-05-22 10:34] JrCs commented on #45
@rmohr thanks for the simple example.
The only problem with your example is that you can't detect if the command return with a non zero exit code.

[2017-05-24 02:15] yadzhang opened #198 "Secret Get() function return the secret data after decode?"
I created a secret, with data password:123456, username:hello, after base64 encode, they are stored in k8s like below,
[code]
But when I want to get secret like below:
[code]
The result is Data["username"] is "hello" not "aGVsbG8", It is very strange. I want to get the data after base64 encoded, not clear text. I make some test, and feel it is because
[code]
`Into` func make a translation when wri

[2017-05-26 00:28] debianmaster opened #199 "how can i make customer controller watch for events forever?"
In this example, a custom controller is created but it exits after listing the tpr's
https://github.com/kubernetes/client-go/blob/master/examples/third-party-resources/main.go

how can make this run forever watching for updates on TPR's?

[2017-05-26 13:52] iordaniordanov commented on #197
I'm experiencing the same issue with Pods("").List()
[code]

I'm using a config for remote cluster. The problem occurs only for List(at least this what I've found). Getting a certain Pod info works fine.
The interesting thing is that right at the beginning the code was working fine(copy paste from examples/out-of-cluster). Now List just refuses to run.

[2017-05-26 14:00] owenhaynes commented on #197
Getting this with secrets as well.

[2017-05-26 15:32] ericchiang commented on #197
@owenhaynes your panic looks like https://github.com/golang/go/issues/20501

@iordaniordanov and @medyagh please including the full stack trace of the program when it panics and the version of transitive dependencies (e.g. what version is golang.org/x/net?). Just posting the top level error isn't enough. All nil pointer panic look the same and the stack trace is the actually actionable thing.

[2017-05-26 15:38] ericchiang commented on #198
Data is a `map[string][]byte` so this is expected. If you want the base64'd data, you'll need to encode it yourself.

The reason it shows up in the API as base64'd at all is because that's how Go marshal's `[]byte` fields for JSON. If you use protobuf, for example, there's no base64'ing.

It seems like this can be closed.

[2017-05-26 16:03] owenhaynes commented on #197
@ericchiang cheers for that reverting x/net worked. Never thought to look at x/net

[2017-05-27 02:21] yadzhang commented on #198
Got it. Thank you for answer, I will encode myself.

[2017-05-27 02:21] #198 closed

[2017-05-28 08:09] ash2k opened #200 "CachedDiscoveryInterface has no implementations"
I'm trying to use `RESTMapper` interface and to get an instance of it I'm trying to construct a `DeferredDiscoveryRESTMapper` using the constructor `NewDeferredDiscoveryRESTMapper()`. That constructor function wants `CachedDiscoveryInterface` but there are no implementations available in client-go repository.
The only implementation is `CachedDiscoveryClient` in kubectl.
I guess this is a feature

[2017-05-28 18:18] iordaniordanov commented on #197
@ericchiang, sry for that. Will compare my trace with [golang/go#20501](https://github.com/golang/go/issues/20501) and will provide an update tomorrow

[2017-05-29 06:35] iordaniordanov commented on #197
@ericchiang, my trace is like the one mentioned in [golang/go#20501](https://github.com/golang/go/issues/20501)

[2017-05-29 06:40] iordaniordanov commented on #197
Sorry, but how should I fix the issue for myself?

[2017-05-29 18:55] ericchiang commented on #197
@iordaniordanov you need to update your vendored copy of golang.org/x/net/http2. Please see the instructions in INSTALL.md https://github.com/kubernetes/client-go/blob/master/INSTALL.md

Particularly the glide instructions tell you how to pin to a vendored version that client-go doesn't request, though by the look of it, no tagged versions of client-go actually request the broken golang.org/x/net/

[2017-05-30 05:42] lth2015 opened #201 "Is there a client-go version compatible with kubernetes 1.2 api?"
I want to use client-go to rewrite my k8s client api, but our team is using kubernetes 1.2 version in product environment, how can I do?

Thank you very much!

[2017-05-31 17:08] wongma7 opened #202 "Versioned helpers (pkg/api/v1/helpers) are missing"
pkg/api/v1/helpers.go was removed but pkg/api/v1/helpers/helpers.go was not added in its place. I noticed in staging/copy.sh the line `mkcp "pkg/api/helper" "pkg/api"` was explicitly added: https://github.com/kubernetes/kubernetes/pull/44361/files#diff-79c7edfbbe6b22642e05ac8c9cd431e7. Why did it need to be added and do we need to add  `mkcp "pkg/api/v1/helper" "pkg/api/v1"`too?

https://github.co

[2017-06-01 14:17] sgoodliff commented on #152
Hi,
Did you get to the bottom of this? I'm experiencing something similar.

Thanks

[2017-06-01 21:13] caesarxuchao commented on #200
Last time i checked the implementation is in https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/util/factory_client_access.go

I think we should move it client-go.

@lavalamp has a PR open adding a memcached version to the garbagecollector recently. https://github.com/kubernetes/kubernetes/pull/46000/files#diff-b68696d4dae421f9f156a677c77c4880R18

[2017-06-01 21:17] caesarxuchao commented on #199
The controller will continue to run if you don't call the canclefunc: https://github.com/kubernetes/client-go/blob/master/examples/third-party-resources/main.go#L80

[2017-06-01 21:20] caesarxuchao commented on #197
Thanks for the solution! I'm closing the issue.

[2017-06-01 21:20] #197 closed

[2017-06-01 21:23] caesarxuchao commented on #194
It should work. Maybe print out the decoding result `obj`, see if it's correct.

[2017-06-01 21:24] caesarxuchao commented on #192
Something like this?
 https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/use_context.go#L73

[2017-06-01 21:27] caesarxuchao commented on #189
I think these BUILD files actually work if someone is use Bazel to build client-go. Since the kubernetes main repo is using bazel as its build system, so i think it's not a bad idea to enable bazel for client-go. It could use more documentation for sure.

[2017-06-01 21:47] andrejvanderzee commented on #194
@caesarxuchao Indeed, `Decode()` returns an *api.Service, but NewSimpleClientset works with external types. This works fine:

[code]
Thanks!

[2017-06-01 21:47] #194 closed

[2017-06-01 21:50] caesarxuchao commented on #194
Cool. Glad to help.

[2017-06-01 23:59] caesarxuchao commented on #202
It's intentional. The entire pkg/api and pkg/apis will be gone after https://github.com/kubernetes/kubernetes/pull/44784. After that, we will selectively introduce back the helpers, but in a more appropriate directory.

[2017-06-02 00:03] caesarxuchao opened #203 "client-go hasn't been synced for more than a week"
The publishing robot has bugs.

I'm tracking the fix under https://github.com/kubernetes/test-infra/issues/2847, because the robot code is in the test-infra repo. I'll spend more time on the bot after the code freeze.

[2017-06-02 00:50] ahmetb commented on #189
@caesarxuchao do you anticipate people running `examples/` to use these BUILD files? I think they're just causing confusion. `examples/` is not being vendored by most people and does not compile as people do not take dependency on examples/... packages. So Bazel doesn't apply to examples I think.

[2017-06-02 03:41] caesarxuchao commented on #189
Yeah, we can remove BUILD files from `examples/`. Not sure where/how to do it elegantly. It would be most reliable we can remove the BUILD files from kubernetes/staging/client-go/examples.

[2017-06-02 20:43] hongchaodeng opened #204 "API for remote command execution"
In shell, you can use:
- `kubectl port-forward` to send requests to a pod's endpoint
- `kubectl exec` to execute commands in a pod

However, these are not obvious, easy to achieve in client API.
It would be great to provide easy to use API for such functionality.

[2017-06-02 21:35] debianmaster commented on #199
@caesarxuchao   thanks for that tip !!!  :)

[2017-06-02 23:14] ahmetb commented on #189
We can probably add a flag to https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/publish_scripts/publish_template.sh or https://github.com/kubernetes/test-infra/blob/master/mungegithub/mungers/publish_scripts/publish_client_go.sh.

I'm not familiar with these, I need to look into them to see if they directly take commits, or do any sort of `git commit`. If so, we might be abl

[2017-06-03 00:22] caesarxuchao commented on #189
It's too risky to change the robot. The robot runs `git filter-branch` and `git cherry-pick` to pick up upstream changes, removing contents there might break the cherry-picks. Let's try to remove BUILD files from the source.

[2017-06-04 00:07] ahmetb commented on #189
Understood. I am not familiar enough with Bazel to answer if we can remove these BUILD files directly on the kubernetes/kubernetes repo. Let's keep this issue open until we have a better answer.

[2017-06-05 18:22] caesarxuchao commented on #189
Ok. I hope we can develop in client-go soon. The publishing process puts many restrictions on client-go.

[2017-06-05 18:24] lavalamp commented on #189
Are the BUILD files causing any actual problem?

On Mon, Jun 5, 2017 at 11:22 AM, Chao Xu <notifications@github.com> wrote:

[2017-06-05 21:46] ahmetb commented on #189
No, just confusion point for beginners.

[2017-06-09 09:01] thkoch2001 opened #205 "how to build client-go"
I am a newbie to Go. I cloned the client-go repo. Now what should I type into my shell to make this thing compile?

Actually I want to try to compile client-go into a shared C library as explained here:
https://medium.com/learning-the-go-programming-language/calling-go-functions-from-other-languages-4c7d8bcc69bf

But for that of course I first need to understand how to build it the normal way.

[2017-06-09 11:58] thkoch2001 opened #206 "release client-go as a shared C library"
This article describes that it is possible to compile Go code as a shared C library:
https://medium.com/learning-the-go-programming-language/calling-go-functions-from-other-languages-4c7d8bcc69bf

If it were possible to build and release client-go this way, then it should be possible to easily use it from all kinds of languages.

[2017-06-09 16:40] lavalamp commented on #205
The client is normally statically linked and not built separately (although
you can build the examples).

If you just cloned the repo, you will need to set up your GOPATH before the
import paths will work.

I do not recommend doing the thing you are trying to do, though. Our
library is full of interfaces and objects to make it convenient to build
requests for go users. A consequence of this is tha

[2017-06-09 16:42] lavalamp commented on #206
Our current plan is to generate native clients in various languages. This solution would be very awkward at best--I would rather spend effort executing our main plan.

[2017-06-09 16:42] #206 closed

[2017-06-09 17:47] TamalSaha commented on #204
I was also looking for this. It seems to me that this support has been added only very recently https://github.com/kubernetes/client-go/tree/master/tools/remotecommand

[2017-06-12 12:29] #205 closed

[2017-06-12 12:38] thkoch2001 commented on #206
More info on the plan to generate native clients:
https://github.com/kubernetes/kubernetes/issues/22405
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-new-client-library-procedure.md
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-client-structure-proposal.md
https://github.com/kubernetes-client

[2017-06-12 13:30] zhangtbj opened #207 "Some packages are missining in k8s.io/client-go/"
Hi,

I am using k8s client-go and I imported some of them:
"k8s.io/client-go/pkg/api/errors"
"k8s.io/client-go/pkg/api/resource"
"k8s.io/client-go/pkg/api/unversioned"
"k8s.io/client-go/pkg/runtime"

But I found they are missing now:

https://github.com/kubernetes/client-go/tree/master/pkg/api

Can you tell me where are they and why they are missed?

If possible, is there any solution that I can u

[2017-06-12 16:45] lavalamp commented on #207
Those look like the ones moved to k8s.io/apimachinery.

On Mon, Jun 12, 2017 at 6:30 AM, zhangtbj <notifications@github.com> wrote:

[2017-06-13 02:41] gitzl opened #208 "cannot create namespaces"
use clientSet cannot create namespace.
the error:
  XTRA *errors.StatusError=User "system:node:xxx" cannot create namespaces at the cluster scope. (post namespaces))?[

[2017-06-13 05:58] mailtokun opened #209 "Support cadvisor APIs"
Currently the client doesn't seem to support the cadvisor api to get usages. The client should support those APIs.

[2017-06-13 07:28] feiskyer commented on #203
Any updates on this? Met a problem of vendoring kubernetes packages, which depends on updates on client-go.

[2017-06-13 17:01] caesarxuchao commented on #203
Just merged the fix. Will start the robot today.

[2017-06-14 18:06] debianmaster commented on #199
controller is exiting even if i dont call `cancelFunc`  any other workarounds?

[2017-06-14 18:11] debianmaster commented on #199
found it!    tried removed `go run` from   `go run controller.Run(ctx)`

[2017-06-14 18:11] #199 closed

[2017-06-15 15:48] nikhita commented on #190
@ahmetb  I think this issue can probably be closed now.

TPR is now deprecated and CustomResourceDefinition (CRD) is the successor. The examples for CRDs do not have the comment: https://github.com/kubernetes/apiextensions-apiserver/blob/master/examples/client-go/apis/cr/v1/types.go.

Also, the comment is no longer present in the deprecated-TPR example: https://github.com/kubernetes/client-go/blob

[2017-06-15 15:49] #190 closed

[2017-06-16 08:55] databus23 opened #211 "Fallback to in-cluster config not working anymore."
Up until now we used this snippet to initialise our clients to support cluster-internal and external configuration:
[code]

This does not work anymore with 3.0.0beta0 the error I'm getting is:
`Couldn't get Kubernetes default config: invalid configuration: default cluster has no server defined`
Which is generated [here](https://github.com/kubernetes/client-go/blob/v3.0.0-beta.0/tools/clientcmd/val

[2017-06-16 09:10] databus23 commented on #211
Just found a commit that already addressed this: https://github.com/kubernetes/client-go/commit/634770b327bf71cc73ee1571e2bfe42168f454f3

[2017-06-16 09:10] #211 closed

[2017-06-17 11:29] mailtokun opened #213 "oidc cache key is uniqueness"
I have more then 3 kubernetes clusters.
Below is my code,
[code]

Here is output:
[code]

If I change the cluster order, still work for first two clusters. The rest cluster doesn't work.
[code]

Here is output:
[code]

[2017-06-17 13:26] mailtokun commented on #213
@caesarxuchao Could you have a look?

[2017-06-17 21:46] caesarxuchao commented on #213
That's strange. What is you do?
[code]

[2017-06-18 04:53] mailtokun commented on #213
@caesarxuchao
I would like to list nodes of each clusters(cluster1,cluster2,cluster3).

[2017-06-18 05:20] mailtokun commented on #213
@caesarxuchao
Is this a bug for clientcmd ?

[2017-06-18 05:48] mailtokun commented on #213
@ericchiang
Could you have a look as well?  Is this caused by oidc?

[2017-06-18 09:06] mailtokun commented on #213
I got the root cause. oidc.go use client-id and idp-issuer-url as the key of OIDCAuthProvider.
My cluster 1 and cluster3 has same client-id and idp-issuer-url value in kubeconfig file.But cluster1 and cluster3 not belong to same user.
@ericchiang
Do you have any idea?

## cluster1's kubeconfig
[code]

## cluster3's kubeconfig
[code]

[2017-06-18 18:35] ericchiang commented on #213
It looks like sharing the persister as part of the cached object is causing this problem:

https://github.com/kubernetes/client-go/blob/c1b6a1c0a439eb0a993b2b3a3e5d161e6cb0f28d/plugin/pkg/client/auth/oidc/oidc.go#L173

This is intentional on the oidc end. Since kubectl constantly re-initializes transports, we need to do some locking to make sure concurrent uses of the OpenID Connect transport plug

[2017-06-19 17:08] caesarxuchao commented on #213
Thanks for looking into this.

[2017-06-20 09:17] vinayakshnd opened #214 "No notifications from IndexerInformer for namespace resource"
Hi,

I want to get notifications when a new namespace is created/updated. For that, I am creating `ListerWatcher` and creating `IndexerInformer` from it. I have registered handler functions on each of the events. I am not getting any notifications when a new namespace is created.

My code is as follows:

[code]

Please let me know if I am doing anything wrong here or if there is better way to do t

[2017-06-20 10:15] #163 closed

[2017-06-21 05:28] rdtr opened #216 "[question] can we emulate "kubectl apply" using client-go?"
Hi,

I use client-go and am writing a simple auto deployment code which detects a git push, loads all yaml files which is either newly added or updated then call `Update` or `Create` for each yaml file from within a pod in the cluster (`Delete` is out of my scope at least initially).

At first it looked good but shortly I noticed that `Update` replaces a whole yaml definition, so some property wil

[2017-06-22 06:40] ash2k commented on #216
See https://github.com/kubernetes/kubernetes/issues/17333

[2017-06-22 18:10] rdtr commented on #216
so it's still in discussion what is the ideal way...

For now I already implemented so that we run `kubectl apply -f` via Golang from within a pod.
And it works great. So I'm closing this.

[2017-06-22 18:10] #216 closed

[2017-06-23 00:33] aksgithub opened #217 "Looking for an example of creating a namespace and pod within a namespace."

[2017-06-23 00:40] ash2k commented on #216
@rdtr You may be interested in our project https://github.com/atlassian/smith

[2017-06-23 09:35] iordaniordanov opened #218 "Cannot access *ObjectReference property"
Here is the case. I'm listing all Endpoints and trying to map the info I get form them. I'm stuck at the PodName, which should be in the ```Name``` property of ```TargetRef```. [Docs](https://godoc.org/k8s.io/client-go/pkg/api/v1#EndpointAddress)
Some code:
This works
[code]
But changing to this does not
[code]

[2017-06-23 09:58] iordaniordanov commented on #218
I'm using HEAD

[2017-06-24 13:12] cilindrox commented on #185
This seems to have been fixed after an upgrade on the cluster to Kubernetes 1.6.4, thanks everybody.

[2017-06-24 13:12] #185 closed

[2017-06-26 07:54] qiujian16 opened #220 "RawConfig and ClientConfig method in clientcmd.DirectClientConfig are not consistent"
I might be wrong, but it seems to me that ```RawConfig``` does not consider ```overrides``` while ```ClientConfig``` does.
https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/client_config.go#L104

So when I create a ```DirectClientConfig``` with ```&clientcmd.ConfigOverrides{ClusterInfo: api.Cluster{Server: masterUrl}}}``` the method ```ClientConfig()``` return the correct url, bu

[2017-06-27 18:49] shyamjvs opened #222 "Client should wait before retrying PATCH/PUT/POSTs in case of http 429 from server"
We figured recently while running 4000-node cluster tests that the apiserver was saturated with requests and returning 429s, but clients were still sending requests.
In particular, kubelets and NPDs on the nodes were trying to continually retry PATCH/PUT requests on failures (leading to thousands of qps of 429s), even though they're designed to send updates once every one minute. So this is most l

[2017-06-27 18:50] shyamjvs commented on #222
cc @yujuhong

[2017-06-27 18:57] shyamjvs commented on #222
We don't want to enter the risky state of being stuck with 429s eventually.

[2017-06-27 18:59] lavalamp commented on #222
Do the clients not have a configured rate limit?

Yes, we should make clients respect the server's request if they aren't
right now.

On Tue, Jun 27, 2017 at 11:57 AM, Shyam JVS <notifications@github.com>
wrote:

[2017-06-27 19:31] stevesloka opened #223 "k8s 1.6 cluster"
I'm trying to use client-go with a 1.6 cluster. I'm seeing times when I delete my deployments or statefulsets, the pods will not delete but the underlying objects go away.

I was thinking maybe it's a problem with my version (using v2.0.0) currently. When I check out v3.0.0-beta.0, then do a `godep restore ./...` then build my app, I get the following errors:

Is is tag broken? Is there a version

[2017-06-27 20:18] yujuhong commented on #222
The client had a rate limit, and I believe the QPS was still within the limit. Maybe the problem is that the limit needs to be even lower for the cluster of this scale?

BTW, I was wrong in the initial issue. The rest client [does not retry non-GET requests](https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/staging/src/k8s.io/client-go/rest/request.go#L831). I am not sure what's causing

[2017-06-27 21:54] caesarxuchao commented on #222
As i understand, this is not a release blocker, but we need to fix it.

[2017-06-27 23:37] caesarxuchao commented on #222
@gmarek do you know if this comment is still true?
https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/rest/client.go#L138-L139
[code]

The env vars were empty on my 1.6.4 gke node.

[2017-06-28 00:14] caesarxuchao commented on #222
As Yuju mentioned, the client is only going to retry if `net.IsConnectionReset(err) && r.verb == "GET"`. If the serve returns 429, the client will in total sleep for
1. the amount of time demanded by the server, plus
2. the exponential backoff as recorded by the backoff manager. Though by default the backoff manager is empty, so it's 0.

Anyway, i think client is following apiserver's demand, so t

[2017-06-28 00:49] Random-Liu commented on #222
Shouldn't we configure the backoff manager?

[2017-06-28 00:54] caesarxuchao commented on #222
IMO the backoff manager is a safety net. APIserver should specify longer duration of retry-after if its load is heavy.

Maybe we should configure the backoff manager, @gmarek do you know what number we should use to initialize the backoff manager?

[2017-06-28 00:59] yujuhong commented on #222
I remember I also checked this yesterday. Of course there is always a TODO in the code: https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/staging/src/k8s.io/apiserver/pkg/server/filters/maxinflight.go#L33

[2017-06-28 08:25] gmarek commented on #222
@caesarxuchao - this is very good question, which probably has very complex answer as: it depends. It's fine to backoff quite some time for Status updates (with the exception of NodeStatus which serves as a heartbeat), but we probably don't want to backoff too much for Spec updates. This should be figured out by @kubernetes/sig-api-machinery-bugs (@smarterclayton ?). For now can we put there somet

[2017-06-28 09:47] drigz opened #224 "Broken links in README.md"
The two example links here are broken: https://github.com/kubernetes/client-go#how-to-use-it

I tried to fix it but this project doesn't accept PRs and I couldn't easily find the relevant file in the kubernetes repo.

[2017-06-28 15:05] jekohk commented on #128
I think it would also be very helpful to have an example of initiating rollbacks on deployments from client-go. I have been trying to research ways to do this for a few days now, and it's a pretty typical use case of this client so I think it'd help a lot of beginners and more advanced users alike. I'm still trying to figure it out myself but if I do I'd be happy to contribute an example.

[2017-06-28 16:37] ahmetb commented on #128
@jekohk please feel free to contribute the rollback operation to the crud-deployment example we have if you have time.

[2017-06-28 17:06] lavalamp commented on #222
IMO folks making requests should understand what their requests are doing
and whether it makes sense to use the backoff manager. I am not comfortable
enabling it by default without thinking a lot more about it.

There is another potential problem that should be considered, which is: is
the client opening a new connection each time or does it reuse an existing
one? The latter is much more efficient

[2017-06-28 17:21] caesarxuchao commented on #222
Looks like it's taken care of: https://github.com/kubernetes/kubernetes/blob/v1.8.0-alpha.1/staging/src/k8s.io/client-go/rest/request.go#L846-L848

[2017-06-28 18:54] yujuhong commented on #222
The backoff manager settings are not exposed through the REST client config...it gets these from the environment variables. They are also not configurable based on the type of requests. If we can make this more useful, perhaps we can remove kubelet's own retry loop.

Given that the client retries up to 10 times (not configurable), I think we should lower the number of retries for node status updat

[2017-06-28 19:11] rkamudhan opened #226 "go get k8s.io/client-go/kubernetes is failing"
New update causing failure in for the  `go get k8s.io/client-go/kubernetes`

[code]

[2017-06-28 19:35] bjhaid opened #227 "Watch method should implement an heartbeat keepalive"
The watch methods should implement an heartbeat keep-alive to ensure the tcp connection isn't severed in environments with aggressive tcp idle timeouts, this will also help fast fail a watch to a dead apiserver.

[2017-06-28 19:45] lavalamp commented on #227
1. This is not a client request.
2. We'd almost certainly use TCP keepalives and not modify the watch
protocol.

On Wed, Jun 28, 2017 at 12:35 PM, Àbéjídé Àyodélé <notifications@github.com>
wrote:

[2017-06-28 19:48] bjhaid commented on #227
@lavalamp

where should I be posting this request, on the main kubernetes repo, should this be sent to sig-api-machinery?

protocol.

That's fair, I'll bring this up wherever I should be sending it correctly to

[2017-06-28 20:01] lavalamp commented on #227
Yeah, I think the main kubernetes repo is the place to file this, thanks.
I'm slightly surprised that we don't already turn that on?

On Wed, Jun 28, 2017 at 12:48 PM, Àbéjídé Àyodélé <notifications@github.com>
wrote:

[2017-06-28 20:04] bjhaid commented on #227
thanks

[2017-06-28 20:04] #227 closed

[2017-06-28 20:21] kandaaaaa commented on #226
I hitting the same issue, seems the last commit is has the related change

[2017-06-28 21:02] ericchiang commented on #226
This is broken because of refactoring in kubernetes/kubernetes. Fix is here https://github.com/kubernetes/k8s.io/pull/63

We strongly recommend using the install paths in the INSTALL guide with an actually tag for installing client-go, not go get.

https://github.com/kubernetes/client-go/blob/master/INSTALL.md#glide

[2017-06-28 21:56] ericchiang commented on #226
This is now fixed, though you still probably shouldn't use go get to install client-go.

[code]

[2017-06-28 23:15] #226 closed

[2017-06-29 00:15] caesarxuchao commented on #222
Exponential backoff manager is introduced in https://github.com/kubernetes/kubernetes/pull/17529. Sorry @gmarek i confused it with the throttler, which i believed was introduced by you ;)

@jayunit100 do you know why we used env var rather than a config to initialize the backoff manager?

I suggest that we do these:

1. add backoffManager to RESTClient and rest#Config
2. deprecate [readExpBackoffC

[2017-06-29 14:37] jmccormick2001 commented on #223
might be that the 2.0 api doesn't support the propagation_policy to be set in the delete options, I found that when deleting Deployments, it will leave the replica sets undeleted due to this.

[2017-06-29 15:20] rmohr opened #229 "Allow setting the KeyFunc on SharedInformers"
I would want to replace the `DeletionHandlingMetaNamespaceKeyFunc` with my own UUID based key function in the `SharedIndexInformer`. It seem like right now, I would have to copy the whole shared informer into my code-base, to be able to replace it:

[code]
My use-case is the following: While in the cluster, I care about the namespace/name identity, on the node where my daemon sits, I am more inter

[2017-06-29 16:47] ericchiang commented on #223
Why does your error message say `../../kubernetes/client-go/pkg/api/meta/interfaces.go` It should start with `k8s.io/client-go`. Are you checking it out to the wrong path in your GOPATH?

[2017-06-29 21:28] keitwb opened #230 "Clarification on Object/GetObjectKind"
I'm trying to write some integration tests for an app that uses this client and I'm struggling to figure out how to create objects that implement the `Object` interface.

https://github.com/kubernetes/client-go/blob/v2.0.0/kubernetes/typed/core/v1/pod.go#L79 passes in a `"pkg/api/v1".Pod` to the REST client request `Body` method, and then the Body method [appears to assert that it is a `runtime.Ob

[2017-06-29 22:49] lavalamp commented on #230
TypeMeta does implement the interface. It is an inlined field, causing the
thing it is inlined in to also implement the interface.

But you must take its address first: &v1.Pod{ ... }

On Thu, Jun 29, 2017 at 2:28 PM, Ben Keith <notifications@github.com> wrote:

[2017-06-30 03:27] keitwb commented on #230
Thank you! The address was what I was missing.

[2017-06-30 03:27] #230 closed

[2017-06-30 12:32] deads2k commented on #229
Since that would change the contract on the lister's `Get` functions, I don't think we'd want to do it in general.  In order to support the "normal" `Get` semantics you'd have to create a secondary index on name then find the "best" one to return.  I don't think that's a path we want to pursue.

[2017-06-30 17:50] hongchaodeng opened #231 "k8s 1.7 corresponding release of client-go"
k8s 1.7 is released.
When is client-go doing a release to match that?

[2017-06-30 18:22] ericchiang commented on #231
cc @caesarxuchao who had some thoughts on this.

[2017-06-30 18:31] shyamjvs commented on #222
Linking issue https://github.com/kubernetes/kubernetes/issues/47344 for tracking.

[2017-06-30 18:38] caesarxuchao commented on #231
Because the pkg/api pkg/apis are all removed (for good), so we have breaking changes again, so it will be client-go release-4.0. I'll set it up.

It's insane to bump the major version every quarter. I'll open another issue discussing how to enabling API tests and integration tests for client-go, and eventually decouple the release from kubernetes.

[2017-06-30 18:47] ericchiang commented on #209
cadvisor should probably maintain their own client library. I don't get why client-go should take on this burden.

[2017-06-30 18:48] ericchiang commented on #202
Closing, since it looks like this issue is resolved.

[2017-06-30 18:48] #202 closed

[2017-06-30 19:40] lavalamp commented on #231
Why is it bad to increment the major version?

On Fri, Jun 30, 2017 at 11:38 AM, Chao Xu <notifications@github.com> wrote:

[2017-06-30 20:11] caesarxuchao commented on #231
We do now back-port new API groups or new features like leader election across major releases. Users who want to use these features need to upgrade, their life will be easier if we don't bump the major version often.

[2017-07-03 09:13] ffledgling commented on #79
Hello, bumping this thread, ran into the same problem with spew being overridden by the older version that kubernetes client uses. Any idea of what's required to bump the version of spew in the client-go code base? Seems like the one usage pointed out is pretty simple, and as @ericchiang pointed out can either be replaced by some stdlib code, or can be kept the same, since it will work even under

[2017-07-03 12:33] ash2k commented on #79
I sent a PR to update spew and testify dependencies just yesterday. I hope it'll get some attention and not drown like other PRs https://github.com/kubernetes/kubernetes/pull/48384

[2017-07-03 22:26] tamalsaha commented on #231
Do you mind elaborating on that? We write operators for Kubernetes. Dealing with breaking changes with every release of Kubernetes is a major headache for us.

[2017-07-04 09:47] nikhita commented on #224
Fix in https://github.com/kubernetes/client-go/pull/219.

@drigz Thanks for the issue! Btw for README and other doc changes, PRs can be opened in this repo. All other code changes go in `kubernetes/kubernetes/staging/src/k8s.io/client-go`.

[2017-07-04 10:01] nikhita commented on #203
I think this can be closed now. :)

[2017-07-04 10:04] feiskyer commented on #203
I think so.

/close

[2017-07-04 10:04] feiskyer commented on #203
/assign

[2017-07-04 10:05] feiskyer commented on #203
/close

[2017-07-04 10:05] #203 closed

[2017-07-04 22:35] astropuffin opened #232 "Compile fails due to apimachinery change"
Now that client-go is using apimachinery (which I wholeheartedly appreciate), upstream changes can break compile. The current compile failure was caused by this commit:
https://github.com/kubernetes/apimachinery/commit/6c263f33a6b401d0718c5c5774b5f7ab8daa8488#diff-fb24371e396c1f62cf28521fd747ffa1

client-go depends on those deleted functions in a number of places:
pkg/apis/authentication/v1/defaul

[2017-07-05 15:07] stevesloka commented on #223
@ericchiang yup that was my issue, somehow I had another `client-go` in my path. Deleted and now it's working after updating all my code to the new packages. Thanks for the catch!

[2017-07-05 15:07] #223 closed

[2017-07-05 17:35] lavalamp commented on #232
Please double check that you have vendored the right version of your
dependencies.

A given client-go branch/commit will likely only be compatible with the
dependency versions that are in its Godeps.json.

Eventually we will have better version compatibility stories for repos like
apimachinery but the paint is still wet.

On Tue, Jul 4, 2017 at 3:35 PM, Joseph Schneider <notifications@github.com>

[2017-07-06 00:19] joshwget commented on #231
Isn't this code imported in various places in 1.7? For those looking for a client-go release to use when importing code from Kubernetes 1.7 this wouldn't work.

[2017-07-06 00:29] caesarxuchao commented on #231
@joshwget sorry, i took that back. pkg/api and pkg/apis are still there in kubernetes/release-1.7, so they will be in the client-go branch that tracks kubernetes/release-1.7.

[2017-07-06 00:46] joshwget commented on #231
Awesome, thanks for confirming that.

[2017-07-06 18:21] #158 closed

[2017-07-06 20:37] caesarxuchao opened #234 "client-go needs backwards compatibility test"
Client-go needs backwards compatibility test, i.e, checking if a PR changes the public interfaces of client-go. The benefits are:
 * Ensuring release-note is added if a PR has backwards incompatible changes.
 * Making breaking changes more obvious, so developers can avoid them if possible.
 * Helping determine if the major version of client-go needs to be bumped when we cut a release.

The backwar

[2017-07-06 20:39] caesarxuchao commented on #234
cc @lavalamp @mbohlool @ericchiang @hongchaodeng

Do you know if there is an existing tool that checks for changes in public interfaces? I couldn't find any.

[2017-07-06 20:47] lavalamp commented on #234
If repos were split I would instead want to solve this via requiring `release-note: ` sections in changes to client-go. Changes in downstream repos (e.g., api types) would be handled by requiring the same release-note tag in the PRs that vendor in the changes. It's this last step that isn't really feasible in the current monorepo--it's hard to programmatically tell what PRs are going to ultimately

[2017-07-06 21:28] caesarxuchao opened #235 "[RFC] Developing in client-go directly"
The goal is to develop in client-go directly, instead of developing in k8s.io/kubernetes/staging. It has several benefits:
* Increasing development velocity. @bgrant0607 mentioned k8s.io/kubernetes had hit the speed of light of developing in a single repo.
* Getting rid of the publishing robot, which is not easy to maintain.
* Getting rid of the staging area, which is not intuitive to human or gol

[2017-07-06 22:11] MHBauer commented on #235
Must have CI with core kubernetes, (and preferably some other usesrs) to make sure everything always builds. Willing to help keep svc-cat running and building against some version of this.

[2017-07-07 04:28] caesarxuchao commented on #234
The `release-note` approach relies on the author and the reviewer to identify the breaking changes. I'd rather relying on the tool to force the author to add `release-note`.

[2017-07-07 07:09] luxas commented on #235
@caesarxuchao Let me know if I can help in any particular way -- interested in getting things out.

As far as I understand we'll start with k8s.io/api{,machinery}, and we'll re-vendor things in a periodic manner. As a presubmit for k8s.io/api{,machinery} there will be a job that takes k8s.io/kubernetes HEAD and k8s.io/api{,machinery} HEAD, merges the PR and vendors the new code into k8s.io/kuberne

[2017-07-07 07:37] iordaniordanov commented on #218
Any update ?

[2017-07-07 12:15] deads2k commented on #234
I agree.  An automated process makes more sense.  Given that the stable API surface is smaller than all packages, I think I would pursue the idea of labeling certain packages as exported (similar to an osgi bundle).  Then a tool could check
 1. have you listed all the packages that are *actually* API, since transitive dependencies matter.
 2. have you changed any of those packages in compatible wa

[2017-07-07 12:38] deads2k commented on #235
Experience dealing with this in openshift suggests that an automated workflow that attempts to merge the unstable branches of multiple repos will cause one of three things:
 1. calcification of the upstreams.  They won't be able to change in meaningful ways that are important for the health of the project.
 2. carrying upstream patches.  This is particularly insidious.  Carrying a patch can get yo

[2017-07-07 12:56] sttts commented on #234
:+1: for the labeling idea

[2017-07-07 17:33] lavalamp commented on #218
It is a pointer. You need to check that it is not null before accessing it.
The API doesn't guarantee that the Name field is always set for an object
reference.

On Fri, Jul 7, 2017 at 12:37 AM, iordaniordanov <notifications@github.com>
wrote:

[2017-07-07 17:36] lavalamp commented on #231
I just want to point out that users who want new features and also don't want to upgrade want a logically impossible thing. ;)

[2017-07-07 17:45] lavalamp commented on #234
An automated process can require the release note. This is how it works in the main repo. We need to duplicate this functionality for *each library*.

If someone wants to write a tool that walks back the import tree from the perspective of each library and requires a release-note-xxx for each staging/xxx whose public interface is affected, I'm fine with that. If we stay in the main repo a single c

[2017-07-07 20:45] caesarxuchao commented on #234
Could you elaborate on what packages should be excluded from the API surface? The packages that don't have public functions/variables?

[2017-07-07 20:56] lavalamp commented on #234
[code]

In this short program, changes to k8s.io/argle potentially affect the public interface of this package, but changes to k8s.io/flunder don't. (It may still require certain versions of the flunder library to compile or work correctly, of course.)

[2017-07-07 23:23] caesarxuchao commented on #231
I created the [release-4.0 branch](https://github.com/kubernetes/client-go/commits/release-4.0). Now i need to manually fill out the CHANGELOG, then release the v4.0.0.

[2017-07-08 08:01] sttts commented on #234
As another example, I consider many of the util/ packages as not part of the API surface. E.g. `HomeDir` and `MkTmpdir`, maybe the cert utils.

To make that clear, we should move everything that is not part of the API surface to pkg/. And IMO we should be very strict about what we leave in the API.

[2017-07-10 06:59] ericchiang commented on #234
@caesarxuchao Go has some internal tooling used to track the standard library API https://github.com/golang/go/tree/master/api

I whipped up some tooling that mimics that, maybe that'd be a good place to start? https://github.com/ericchiang/gopkgapi

[2017-07-10 14:58] rmohr commented on #229
@deads2k thanks for your fast feedback.

Could you point me to the relevant code, where this is a problem? I had a look on the `GenericLister` interface, and it only says that it takes an argument `name` which is equal to the `key`. To look up the object, the genericLister uses the indexer, which I could supply the correct KeyFunction. If i don't misunderstand something, it is in the responsibilit

[2017-07-10 16:44] #224 closed

[2017-07-10 19:13] tamalsaha opened #236 "How to use PATCH apis?"
I am trying to understand how to use PATCH apis available for various objects. I can't find any documentation for that. Also, what are the benefits of using PATCH over UPDATE api?

[2017-07-10 20:01] lavalamp commented on #229
I can't speak to the sharing layer, but the underlying reflector / informer libraries were originally intended to allow the key function to be replaceable.

UID in particular is not a first-class citizen in our API--that problem is bigger that just this client-side support.

[2017-07-11 08:57] rmohr commented on #229
You know  what, while switching the KeyFunc would make the detection of force deletes much more straight forward, it adds the same amount of complexity on another place. I would still have to synchronise the delete and the creation based on the name. That would mean, detecting in the controller if a resource with that name already exists. That is not simpler at all.

Closing this, as it does not r

[2017-07-11 08:57] #229 closed

[2017-07-11 15:37] kensimon opened #238 "No documentation about the new home for pkg/api(s)"
Everything from `pkg/apis` and `pkg/api` are completely gone as of Jun 22nd when https://github.com/kubernetes/kubernetes/commit/ffe74d1fe749b5887711f70af24e1375856f2520 was synced in.

It appears that the new home for all the api calls are in https://github.com/kubernetes/api.

All the existing issues that talk about how broken things are (#232 #226) have been replied to with "well you should be

[2017-07-11 20:14] medyagh opened #239 "client-go broke for 1.6"
Hi I wanted to upgrade [K8Guard](https://github.com/k8guard) (an auditing system for kubernetes) to work with k8s 1.6.

we were using client-go `v2.0.0-alpha.1` with  `k8s 1.5`
I did notice the API calls have changed and I updated client-go to `v3.0.0-beta.0`

and I changed my code to look like this
[code]

for previous version ( `v2.0.0-alpha.1` with 1.5 k8s) the code was this:
https://github.com

[2017-07-11 20:23] ericchiang commented on #239
Where is Clientset coming from? Your example looks incomplete.

[2017-07-11 20:23] lavalamp opened #240 "Clientset: don't ignore nil clientsets"
https://github.com/kubernetes/client-go/blob/v3.0.0-beta.0/kubernetes/clientset.go#L133

Why do we have the `if c == nil { return nil }` bit? It will always return an usuable object. We should omit that, and then it will be more obvious to users that they have to construct a clientset before using it.

[2017-07-11 20:24] medyagh commented on #239
here is my clientset
[code]
@ericchiang

[2017-07-11 20:24] lavalamp commented on #239
Almost certainly the problem is that your clientset has not been initialized. I filed https://github.com/kubernetes/client-go/issues/240

[2017-07-11 20:26] lavalamp commented on #239
You should pass `*kubernetes.Clientset`, not `kubernetes.Clientset`. Then you wouldn't have to do the line `return kubernetes.Clientset{}, err`, which will cause the problem you observe if the error is ignored.

[2017-07-11 20:57] medyagh commented on #239
@lavalamp I did that, and now all I get is panicing on the loading the client set.
I am doing this in minikube with k8s v1.6.4

[code]

[code]

[2017-07-11 21:09] medyagh commented on #239
@lavalamp is there a chance the client-go library only works on k8s 1.7 ?

[2017-07-11 21:38] caesarxuchao commented on #231
I made the [v4.0.0-beta.0 tag](https://github.com/kubernetes/client-go/releases/tag/v4.0.0-beta.0). I'll gvie the beta.0 one week time to soak and create v4.0.0 tag next week.

[2017-07-11 21:46] medyagh commented on #239
@lavalamp is a kubeconfig file required in the latest client-go ?
previously if the pod was running in a namespace with enough permission (like the way it is in minikube) it would not need to give a kubeconfig file.

[2017-07-11 22:03] caesarxuchao commented on #238
I'll update the CHANGELOG.

[2017-07-11 22:13] caesarxuchao commented on #234
This issue turned out to be bigger than client-go. @lavalamp opened up https://github.com/kubernetes/test-infra/issues/3415. I'll keep this issue open until https://github.com/kubernetes/test-infra/issues/3415 has an owner.

Thanks @ericchiang. That's a good start. I'll mention it in https://github.com/kubernetes/test-infra/issues/3415.

[2017-07-11 22:28] caesarxuchao commented on #234
@lavalamp @sttts thanks for the answers. I think @lavalamp's point is that not all public interface of a vendored repo should be count as the API of client-go; and @sttts's point is that anything in client-go/pkg should not be considered as an API. I agree with both.

[2017-07-11 22:45] lavalamp commented on #234
I do not agree that we can make things not part of the public interface by putting them under pkg/. We can use go's `internal` package feature to do that. I think any public variable, function, constant etc is part of the interface. If it was possible for a consumer of the library to reference a thing, then that thing is part of the public interface.

[2017-07-11 23:59] #238 closed

[2017-07-12 03:24] IanLewis opened #242 "No Auth Provider found for name "gcp""
For the following code I get an error when trying to connect to a GKE API server with v3.0.0.

FWIW this worked in v3.0.0.beta.0

I have a version of apimachinery that's about 28 days old. Could it have to do with some library incompatibility?

[code]

[code]

[2017-07-12 04:37] IanLewis commented on #242
[code]

[2017-07-12 04:45] IanLewis commented on #242
It seems you need import the auth plugin package

[code]

Is this working as intended? Is there any benefit to not loading auth plugins by default?

[2017-07-12 06:02] ericchiang commented on #242
Yes and this is documented in a couple places. The benefit is not overloading regular clients with unnecessary imports. E.g you don't have to import OpenID Connect and Azure packages.

Going to close since it looks like this is working as intended.

[2017-07-12 06:02] #242 closed

[2017-07-12 06:30] sttts commented on #234
@lavalamp technically this is true. But nothing stops us from declaring conventions. It's more about pragmatism in the light of Golang's limited visibility features and our bad history of maintaining any kind of compatibility. I would pretty much prefer to have a limited set of packages declared stable and maintained stable than going the extreme way considering every small bit of code as stable a

[2017-07-12 07:10] #28 closed

[2017-07-12 07:43] IanLewis commented on #242
@ericchiang Can you point me to where it's documented?
It wasn't here:
https://github.com/kubernetes/client-go/tree/master/examples/in-cluster-client-configuration
https://github.com/kubernetes/client-go/tree/master/examples/out-of-cluster-client-configuration

I just guessed based on reading the source code. It feels like that could be improved. Not that there are not really any "docs" to speak o

[2017-07-12 08:51] gquintard opened #243 "out-of-sync READ"
The link to the in-cluster example file needs to be changed.

[2017-07-12 15:11] ericchiang commented on #242
@IanLewis a few of the examples have lines like this https://github.com/kubernetes/client-go/blob/53c7adfd0294caa142d961e1f780f74081d5b15f/examples/out-of-cluster-client-configuration/main.go#L31

The actual change was made here https://github.com/kubernetes/kubernetes/pull/41532 during the 1.6 release. Are you sure this changed between v3.0.0.beta.0 and v3.0.0? I'm not seeing them imported by def

[2017-07-12 15:22] medyagh commented on #239
ok I solved the problem, for anyone who reads this in the future.
other than all the API changes I had to change the way I connect to the Clientset too. the commented part is old way, the rest is new way.

[code]

[2017-07-12 15:22] #239 closed

[2017-07-12 17:19] lavalamp commented on #234
The deliverable here is, when do users have to change their code to upgrade? We cannot stop them from referencing items in /pkg, therefore if we don't increment the major version number on changes there we are basically falsely claiming that their code needn't change, and they will be in for an unpleasant surprise.

(I am a consequentialist, so the fact that it would be their own damn fault doesn'

[2017-07-12 18:40] caesarxuchao commented on #239
@medyagh thanks for the updates. Have you taken a look at the [in-cluster configuration example](https://github.com/kubernetes/client-go/blob/master/examples/in-cluster-client-configuration/main.go#L32-L37)? It didn't change from 1.5 to 1.6.

[2017-07-12 18:54] caesarxuchao commented on #28
The change is merged in kubernetes main repo. The change will be published to client-go in 24 hrs.

[2017-07-12 18:57] tamalsaha commented on #28
@caesarxuchao , is this to late to be picked up for the 1.7 branch?

[2017-07-12 20:42] caesarxuchao commented on #28
It is too big to be cherrypicked. If someone volunteers to do the cherrypick, it'd be better to communicate it with the 1.7 release branch manager (wojtek-t) first.

[2017-07-12 20:54] hongchaodeng commented on #28
Is it gonna be available in client-go v4.0 release?

[2017-07-12 21:04] caesarxuchao commented on #28
Without cherrypicking, it would be in v5.0.

[2017-07-12 22:11] tamalsaha opened #244 "How to watch DELETE events for any objects"
I am trying to write a Kubernetes tool that will perform some action when any Kubernetes object is deleted. Is there any way to watch for DELETE event for any objects instead of adding watcher for each one of them individually?

I understand this is all HTTP under the hood. So, this should be technically possible. My question is there any way to do that using client-go? If not, do you have any hin

[2017-07-12 22:14] lavalamp commented on #244
Watch the collection rather than individual objects.

On Wed, Jul 12, 2017 at 3:11 PM, Tamal Saha <notifications@github.com>
wrote:

[2017-07-12 22:29] tamalsaha commented on #244
I am doing something like :
[code]
"Watch the collection rather than individual objects." ? What do you mean by watch the collection?

[2017-07-12 23:35] yifan-gu commented on #28
@caesarxuchao Thank you!

[2017-07-13 03:53] caesarxuchao commented on #28
Bot stops working: https://github.com/kubernetes/test-infra/issues/2847#issuecomment-314963237. I'll try to reboot.

[2017-07-13 05:41] fanhaozzu opened #246 "func (c *threadSafeMap) Resync() , nothing to do ,that's why?"
why Resync() function nothing to do？it's called by reflector.go.
if the resync() function nothing to do, Reflector's resyncPeriod parameter is useless.

[2017-07-13 08:55] iordaniordanov commented on #218
Ahh, silly me. Thanks!
Closing the issue.

[2017-07-13 08:55] #218 closed

[2017-07-13 09:57] luxas commented on #114
@mattmoyer could you please take this on for v1.8 as part of getting this to beta?

[2017-07-13 18:37] aledbf commented on #28
@caesarxuchao any eta for this? Thanks

[2017-07-13 19:44] caesarxuchao commented on #28
Blocked by https://github.com/kubernetes/kubernetes/pull/48497#discussion_r127312690.

[2017-07-13 22:16] mattmoyer commented on #114
@luxas sure, I may reach out for guidance. I should be able to do this by early next week.

[2017-07-14 15:25] luxas commented on #114
@mattmoyer Thanks! Let's sync up on Slack or something before you start implementing this so we can make sure we're on the same page :+1:

[2017-07-14 16:56] tamalsaha commented on #244
Thank you @lavalamp . It will be great to have some way to watch for "multiple resource types at the same time" , Then one does not have to know about the  the tprs etc registered in a  clustr ahead of time.

[2017-07-14 18:03] lavalamp commented on #244
Funnily enough, that very thing is being fixed in the garbage collector as
we speak--you could take a look at that code.

We don't have any plans to add this feature to the API. Bulk watch is
coming, but even with that you will need to specify which resource types to
watch.

On Fri, Jul 14, 2017 at 9:56 AM, Tamal Saha <notifications@github.com>
wrote:

[2017-07-14 18:36] tamalsaha commented on #244
Thanks, I am going to take  a look.

[2017-07-14 18:36] #244 closed

[2017-07-15 01:50] ash2k commented on #244
@tamalsaha

But that is not necessary - setup an informer for TPRs/CRDs to be notified about additions/deletions of resource kinds. See https://github.com/atlassian/smith/blob/master/pkg/controller/controller_tpr_event_handler.go for an example. Not perfect, probably does not need to watch each version...

[2017-07-16 23:54] caesarxuchao commented on #28
Leaderelection was synced into the master branch. I can *try* to cherrypick it into kubernetes 1.7, depending on how badly people need it. No promise though, because the PR was big and the master branch has diverged from the release-1.7 quite a lot.

[2017-07-17 18:33] hongchaodeng opened #247 "Including CRD client into client-go repo"
Currently CRD client and api all sits in https://github.com/kubernetes/apiextensions-apiserver.

Eventually, CRD client would be better to live in client-go as well. It would be easier for users if client-go can manage dependencies, manage backward compatibility, and testing all in one place.

[2017-07-17 18:58] ericchiang commented on #247
Some background here: https://github.com/kubernetes/kubernetes/issues/46702

@sttts still plan to create a "create an authoritative client in client-go"? Something we can help out with?

[2017-07-17 19:15] brandon-bethke-neudesic opened #248 "undefined: v1.Initializers"
I get the following compile error when I import "k8s.io/api/core/v1" into my file for the type v1.ConfigMap.

k8s.io/api/core/v1
../k8s.io/api/core/v1/types.go:213: undefined: v1.Initializers

I am using v3.0.0 of client-go as recommended in README.md
I am using to godep management tool and instructions as recommended in INSTALL.md

[2017-07-17 19:30] ericchiang commented on #248
v3.0.0 doesn't use the `k8s.io/api` repo: https://github.com/kubernetes/client-go/blob/v3.0.0/kubernetes/typed/core/v1/configmap.go#L24

[2017-07-17 19:38] brandon-bethke-neudesic commented on #248
Thank you and I apologize. The example code I saw must have been for a different version.

[2017-07-17 19:38] #248 closed

[2017-07-17 20:11] lavalamp commented on #247
Plan of record is
https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-client-structure-proposal.md

On Mon, Jul 17, 2017 at 11:58 AM, Eric Chiang <notifications@github.com>
wrote:

[2017-07-18 00:43] topherbullock commented on #45
I need this enough to pick it up and work on a PR.

Seems like `kubectl` [would also benefit from this](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/exec.go#L309-L323)

Going to make an effort at adding client support for an `Exec()` method (not sure where it should live) which allows different `Executors`, and has a default one [like this](https://github.com/kubernetes/kub

[2017-07-18 06:13] goupeng212 opened #249 "Anyone can explain why delete so many go files under pkg/v1?"
Here is the commit id :https://github.com/kubernetes/client-go/commit/d82cfb70ddc9faa25f41e39a8f73d7ccd20d7a55#diff-5c755714d0649f91c00269ed3d88e19c
The author deleted so many go files, so our project failed to run . I know I don't complaint that too much. But that change is too too big!

[2017-07-18 06:34] sttts commented on #247
Right now both apiextensions-apiserver and client-go are maintained, tested and exported from the same repo (k8s.io/kube). So for the moment the integration argument does't exist.

Now with the upcoming 1.8 we could move the types into k8s.io/api and the client into client-go, if we want to centralize everything there. /cc @deads2k @caesarxuchao

@lavalamp the document is outdated because it doesn

[2017-07-18 11:40] deads2k commented on #247
I don't think we want to do that.  The plan has been to have a core library that all clients share and then various clients can use it to have a common set of machinery for interoperability while maintaining logical separation.  The technique appears to be working (the clients play together in e2e tests).  I think we should maintain the logical separation.

[2017-07-18 16:58] lavalamp commented on #249
Use vendoring to lock your dependencies. If you track head, things like this are going to happen to you.

This particular change is even mentioned in the CHANGELOG: https://github.com/kubernetes/client-go/blob/master/CHANGELOG.md#head-changes-that-will-go-into-v5

[2017-07-18 16:58] #249 closed

[2017-07-19 18:31] hongchaodeng commented on #247
Where is the plan?

[2017-07-19 18:33] hongchaodeng commented on #247
@lavalamp

Thanks for sharing.
From https://github.com/kubernetes/community/blob/master/contributors/design-proposals/csi-client-structure-proposal.md, is CRD client gonna sit in `github.com/kubernetes-client/core-go` ?

[2017-07-19 18:39] caesarxuchao commented on #247
People usually use CRD together with other core API. I think it makes sense to let people accessing both API from one clientset.

We still plan to split client-go to core-go and base-go, but CRD doesn't have to live outside of core-go.

[2017-07-20 12:14] JHK commented on #186
Had the same issue when including `k8s.io/client-go` in a custom project. Solved it by adding the following lines to the `Gopkg.toml`:

[code]

[2017-07-20 14:54] stevesloka opened #250 "Job labels"
I'm creating `CronJobs` with client-go. They in turn create `Jobs`. Sometimes when my job is misconfigured or not working, the jobs will hang around. I want a way to delete those jobs. I was going to do a delete against a label selector but I see that none of the labels from my CronJob are passed through.

Is this a bug with k8s API or a symptom of the client?

[2017-07-20 15:11] stevesloka commented on #250
Turns out works as intended, I wasn't setting labels on the jobTemplateSpec.

[2017-07-20 15:11] #250 closed

[2017-07-23 18:31] alexellis opened #251 "Broken links for examples"
Hi - there are broken links for the examples - so I wanted to raise a PR, but got redirected. I thought an issue may be easier.

Patch details below:

https://github.com/kubernetes/client-go/compare/master...alexellis:patch-1

Regards,

Alex

[2017-07-24 04:34] li-ang opened #252 "Proposal: Remove informers from SharedInformerFactory"
SharedInformerFactory just only adds resource informers into itself, but can not remove. I think we could add `RemoveResource()` method into SharedInformerFactory interface for **removing resource informer**.

Please give me more advice.

THX!

[2017-07-24 04:40] li-ang commented on #246
`func (f *DeltaFIFO) Resync() error` called by reflector.go.

[2017-07-24 10:12] folago commented on #232
I am seeing the same problem.

[[constraint]]
  name = "k8s.io/client-go"
  version="4.0.0-beta.0"

[[constraint]]
  revision="abe34e4f5b4413c282a83011892cbeea5b32223b"
  name = "k8s.io/apimachinery"

Results in:

$ go build
# github.com/folago/nird-lb/vendor/k8s.io/api/core/v1
vendor/k8s.io/api/core/v1/zz_generated.deepcopy.go:897: in.ObjectMeta.DeepCopyInto undefined (type v1.ObjectMeta has no f

[2017-07-24 18:13] deads2k commented on #252
What is the use-case for removing one?

[2017-07-26 01:48] li-ang commented on #252
@deads2k In v2.0.0 version without SharedInformerFactory, we can control every separate informer. Since v3.0.0-beta0 version, SharedInformerFactory can simplify the informer operation   for developers, but the developers

[2017-07-26 01:51] li-ang commented on #252
@deads2k We just want to control every separate informer using SharedInformeFactory. Every informer can start and stop.

[2017-07-26 12:20] deads2k commented on #252
We haven't found a use-case for a selective stop in kube, so I'm not very excited about plumbing one through without a clear use-case.

[2017-07-26 17:53] jinankjain opened #253 "UniversalDecoder Broken with version client-go version 4.0.0"
I was using this script to decode some yml files and when I bumped the version from 3.0.0 to 4.0.0. I get this error `no kind "Deployment" is registered for version "extensions/v1beta1"`

Could someone help me out with that one? @lavalamp

[code]

[2017-07-26 19:28] jinankjain commented on #151
@caesarxuchao This broke for go-client 4.0.0

[2017-07-26 23:09] hongchaodeng opened #254 "LeaderElection resoucelock.New() should use interface not *ClientSet"
The interface looks:
[code]

Since this is using a client, instead of digging into the details, should this be a client interface, like `kubernetes.Interface`?

[2017-07-26 23:19] hongchaodeng opened #255 "client-go v4.0.0-beta error with 'no kind is registered for the type v1.Endpoints'"
We use copy leader election from k8s and replace its client with client-go v4.0.0-beta . But after upgrading to v4, it is broken :

[code]

[2017-07-26 23:20] hongchaodeng commented on #253
Yeah. We saw similar error in https://github.com/kubernetes/client-go/issues/255

[2017-07-26 23:22] caesarxuchao commented on #151
@jinankjain could you paste your code?

[2017-07-26 23:24] jinankjain commented on #151
@caesarxuchao Yeah sure https://github.com/kubernetes/client-go/issues/253#issuecomment-318210890

[2017-07-26 23:31] lavalamp commented on #255
You should not use the endpoint resource for leader election, it is very
resource intensive in large clusters.

I believe the client should include leader election code now, so you
shouldn't need your copy any more.

On Wed, Jul 26, 2017 at 4:19 PM, Hongchao Deng <notifications@github.com>
wrote:

[2017-07-26 23:35] hongchaodeng commented on #255
Yeah.
We would like to use that package. Waiting for the release though.
Meanwhile, it is probably not about leader election, but the resource kind registration error:
[code]
It seems the client-go v4 api.Scheme doesn't register the types there anymore.
I tried with client-go "master" and it worked though.

[2017-07-26 23:37] caesarxuchao commented on #253
A friendly reminder, try to get away from using client-go/pkg/api#Scheme or Codecs, the entire package is removed in master. You really shouldn't need api.Scheme or api.Codecs, they are only useful if you want to convert objects between the external version and the internal version, which is only useful to the apiserver.

Could you use client-go/kubernetes/scheme#Codecs instead? And you won't need

[2017-07-26 23:40] caesarxuchao commented on #255
Try this [Scheme](https://github.com/kubernetes/client-go/blob/v4.0.0-beta.0/kubernetes/scheme/register.go#L46) instead?

The entire client-go/pkg/api package is removed in HEAD, so try to get away from using it.

[2017-07-26 23:43] caesarxuchao commented on #255
@hongchaodeng If we cut a v5.0.0-alpha.0 off the HEAD, will you be able to use that? The v5.0.0 stable release is 2 months away.

[2017-07-26 23:47] hongchaodeng commented on #255
OK. Thanks for the suggestion.

I can wait for the stable release. If there are any new release that includes leader election packages, we would definitely like to try it and provide feedback.

[2017-07-27 01:21] #252 closed

[2017-07-27 01:36] jinankjain commented on #253
@caesarxuchao Thanks for the help I tried updating it with what you suggested and then I am no longer able to pass runtime.Object as nil as it complains that `invalid indirect of obj (type runtime.Object)`

[code]

[2017-07-27 01:53] jinankjain commented on #253
@caesarxuchao I think I got the problem it was with UniversalDecoder instead of that we should UniversalSerializer that works. Thanks for all the help. I didn't know about that `k8s.io/client-go/pkg/api` this being deprecated so all the packages which were imported way like v1 or /apps/v1beta will get deprecated too for external use?

[2017-07-27 08:07] Catorpilor opened #256 "Compiling with v3.0.0 tag not working."
I followed the [INSTALL.md](https://github.com/kubernetes/client-go/blob/master/INSTALL.md) and use `dep` instead.
This is my `Gopkg.toml` content:
[code]
I run `dep ensure && dep ensure -update` to make sure dependency is safely vendored in the project.

The example file was [out-of-cluster-client-configuration](https://github.com/kubernetes/client-go/blob/master/examples/out-of-cluster-client-co

[2017-07-27 11:27] ngtuna commented on #181
@jmccormick2001 How did it work from your setup? I hit this below issue when following your code sample:

[code]
[code]

It seems like a problem with json data ???

[2017-07-27 14:07] jmccormick2001 commented on #181
the 'data' needs to be that patch structure, not your tpr data based on the example you listed.  hope that helps.

[2017-07-27 14:29] JaSei commented on #256
I have same problem. Maybe related PR are #182

[2017-07-27 23:50] caesarxuchao commented on #253
Yes. The types are moved to k8s.io/api. k8s.io/kubernetes also import its types from k8s.io/api.

Yes, I guess `scheme.Codecs.UniversalDecoder` still tries to convert objects to the internalversion and thus the error message. Using `UniversalSerializer` sounds the right solution.

I'm closing the issue, feel free to reopen if there is any remaining problem.

[2017-07-27 23:50] #253 closed

[2017-07-28 01:30] kyessenov opened #257 "Serializing struct field to nil"
Field `sizeLimit` defined here https://godoc.org/k8s.io/kubernetes/pkg/api#EmptyDirVolumeSource, can never be nil. How do I invoke the special k8s serializer to make it omit from the resulting JSON/YAML?

[2017-07-29 01:50] Catorpilor commented on #256
I got this fixed by the following steps:

[code]

[2017-07-31 09:02] JaSei commented on #256
This work well:
[code]

[2017-07-31 12:23] svInfra17 opened #259 "Upgrading version to 4.0.beta.0 results in compilation errors"
For kubernetes v1.7, [compatibility matrix](https://github.com/kubernetes/client-go#compatibility-matrix) suggest `4.0.beta.0` version of client-go.
After upgrading the version to `4.0.beta.0`, I get bellow compilation errors:

[code]

[2017-07-31 14:58] jgsqware opened #260 "extensions.v1beta1 don't export NetworkPolicy"
I have a Network Policy as this one:

[code]

With `go-client`, when I tried to retrieve it via:

[code]
I got error:

`the server could not find the requested resource`

the `apiVersion` is `extensions/v1beta1` but I don't find any method that allow retrieving NetworkPolicy for extensions/v1beta1

[2017-08-01 09:52] jgsqware commented on #260
Fixed with
[code]

[2017-08-01 10:20] hblanks commented on #256
Hmm.. I needed the 1.7 branch but otherwise much the same as @JaSei :+1:

[code]

[2017-08-02 00:48] Eriner commented on #259
I experience this issue when vendoring as far back as `3.0.0.`, and have no issues with `2.0.0.`. The examples have failed to compile from `3.0.0` and later.

[2017-08-02 02:45] mandarjog commented on #257
@jingxu97 Can you help us here?  https://github.com/kubernetes/kubernetes/commit/85f030c2aad00c54d498646e4151e7fad930c7c3

For us this breaks k8s 1.6 deployment with Istio. Details are in the referenced issue.
Thanks.

[2017-08-02 06:35] svInfra17 commented on #231
@caesarxuchao , is v4.0.0-beta.0 ready for v4.0.0 ?

[2017-08-03 09:12] #240 closed

[2017-08-03 09:25] Catorpilor commented on #256
@Jasei @hblanks thanks for pointing that out.

[2017-08-03 09:25] #256 closed

[2017-08-03 12:31] JaSei commented on #256
I try do PR with improve install `dep` documentation (#262)

[2017-08-03 15:47] fatih commented on #259
Is there any ETA on how to fix this? Right now the tag `v.4.0.0-beta.0` is totally unusable for us as well. I believe this also block others as well who upgraded recently to Kubernetes `v1.7` and want to use the compatible Go client with it.

[2017-08-03 18:06] fatih commented on #232
@folago were you able to resolve your issue?

[2017-08-03 21:37] caesarxuchao commented on #257
Why is it necessary to omit the field during marshalling? Normally adding a new field doesn't break backwards compatibility. Decoder will just ignore the unknown fields.

I also tried marshalling with the standard json encoder:
[code]
The output is `{"sizeLimit":"0"}`. So the problem is not related to "special k8s serializer".

[2017-08-03 21:53] kyessenov commented on #257
Here's what happens. We take k8s objects, read them with client-go 1.7, serialize with client-go 1.7, and then send them to k8s 1.6 with `kubectl apply`. sizeLimit does not exist in k8s API definition, and the apiserver rejects our processed objects.

[2017-08-03 21:55] caesarxuchao commented on #257
The error message pasted in https://github.com/istio/pilot/issues/975 is from kubectl, not generated by apiserver. What if you do `kubectl apply --validate=false` as suggested by the error message?

[2017-08-03 21:59] kyessenov commented on #257
I believe it would work, but we have to support other cloud providers for now, who are still on 1.6 and have 1.6 apiservers.

[2017-08-03 23:10] caesarxuchao commented on #257
client-go is working as expected. client-go doesn't guarantee compatibility with kubectl.
You can try to fix that particular `sizeLimit` field, but I suspect there are more such new fields in 1.7.
I think you should avoid the round-tripping in client-go, either
* write dump server's response body to a file directly
* or use the [dynamic client](https://github.com/kubernetes/client-go/tree/master/d

[2017-08-03 23:10] #257 closed

[2017-08-03 23:27] kyessenov commented on #257
That's unfortunate. What's your recommendation for k8s JSON processing library that's backwards compatible?

[2017-08-03 23:44] caesarxuchao commented on #257
The golang standard library behaves the same, so i don't think there will be a library that does what you want.

Do you know why the field is not omitted even though the field has the `omitempty` tag?

[2017-08-03 23:45] kyessenov commented on #257
omitempty cannot be applied to struct field. if it was a pointer, it would work.

[2017-08-04 00:25] caesarxuchao commented on #257
@kyessenov indeed the API is wrong, but it has to be fixed in kubernetes rather than in client-go. According to the [api-convention.md](https://github.com/kubernetes/community/blob/master/contributors/devel/api-conventions.md#optional-vs-required), "Therefore, we ask that pointers always be used with optional fields that do not have a built-in nil value." Hence, `SizeLimit` being a non-pointer is

[2017-08-04 06:20] folago commented on #232
No, but the head revisions of client-go and apimachinery worked so I pinned those with dep.

[2017-08-04 18:06] sttts commented on #259
k8s.io/api shouldn't be vendored for 1.7. This is unreleased code from kube master branch.  Something is wrong with your vendoring. It looks like you try to use it with k8s.io/apimachinery from 1.7. That's gonna break.

[2017-08-04 18:06] ncdc commented on #259
@sttts you mean apimachinery from kube master, right?

[2017-08-04 18:20] fatih commented on #259
Thanks @sttts for the information. Where can I get the information on which api & apimachinery I should lock my dependencies so I can use the `v4.0.0-beta0` branch ?

[2017-08-04 18:21] ncdc commented on #259
@fatih I just went through this with a clean `GOPATH`. I'll have details in just a minute.

[2017-08-04 18:24] ncdc commented on #259
1. `go get github.com/tools/godep`
1. `go get k8s.io/client-go`
1. `cd $GOPATH/src/k8s.io/client-go`
1. `git checkout v4.0.0-beta0`
1. `godep restore`

[2017-08-04 23:23] tao-lu commented on #236
UPDATE will essentially rewrite the entire object according to what you've provided it, so anybody who might have submitted a change after you've opened the file but before you've submitted your change will have their change overwritten by your UPDATE. Currently, it seems like you have to generate your own patch strings (and convert them to byte arrays) in the same way you'd pass in a patch string

[2017-08-05 14:35] jmccormick2001 commented on #236
https://github.com/CrunchyData/postgres-operator

in that project, I was able to code some different forms of patch, hope that helps.

[2017-08-08 05:54] flyer103 commented on #259
In addition, `k8s.io/apimachinery` should use branch `release-1.7` and `k8s.io/apiextensions-apiserver` should use commit `be41f5093e2b05c7a0befe35b04b715eb325ab43`.

[2017-08-08 15:54] jinankjain commented on #232
@folago Could you tell me which head revision fixed the issue?

[2017-08-08 19:27] orkun1675 opened #266 "workqueue example: getsockopt: connection refused"
When I run the [workqueue](https://github.com/kubernetes/client-go/blob/master/examples/workqueue/main.go) example in my cluster, everything works fine (I get the pod updates) except I get spammed in the console with the following message:

[code]

Line 208 referred to in the logs corresponds to [this line](https://github.com/kubernetes/client-go/blob/master/examples/workqueue/main.go#L123).

Does

[2017-08-08 21:47] jinankjain commented on #259
@fatih I think I figured out that what which version client-go is compatible with new apimachinery. Try out these revisions this may help.

[code]

[2017-08-09 01:43] tao-lu opened #267 "Informers with fake clientset"
My informer isn't calling its watch/list function routinely, nor is it calling its event handlers when the client which I've passed to it is updated. Is this expected?

I create a fake clientset, create a node informer with it, update nodes with that client set (I've confirmed that the changes are saved by `List`ing from the client directly. It seems that the problem is that the ListFunc is not be

[2017-08-09 05:03] madgrape commented on #232
- package: k8s.io/client-go
  version: 1850dd66e4213a26bd70d0b85fee4176d324b845
- package: k8s.io/api
  version: e532fdb5587debfd7aade56dabe9eb5df9544baf
- package: k8s.io/apimachinery
  version: a13245d02534abe88286859b547d041816f9a3f4
- package: k8s.io/apiextensions-apiserver
  version: 6d8c23d2e66ce61e2a7e34f92e8eb3eec13279fa

this works.
hope this can be fixed asap in release version.

[2017-08-09 07:07] sttts commented on #259
`k8s.io/api` should not be needed. It is unreleased alpha quality code. If you happen to need that, something with your vendoring is broken (or you really want the latest and greatest alpha quality code).

[2017-08-09 07:34] irisdingbj opened #268 "OIDC cache does not have chance to expire when issuer, clientID and clientSecret does not change"
In https://github.com/kubernetes/client-go/blob/master/plugin/pkg/client/auth/oidc/oidc.go. newOIDCAuthProvider()

It will try to find the cached provider like below:

// Check cache for existing provider.
	if provider, ok := cache.getClient(issuer, clientID); ok {
		return provider, nil
	}

However, in some cases there might be no changes for the issuer, clientID and clientSecret. But we only cha

[2017-08-09 12:07] fatsheep9146 commented on #248
@brandon-bethke-neudesic
I came across similar questions, too. I used "k8s.io/client-go/kubernetes" with "k8s.io/api/core/v1"(I wanted to use v1.Service), the compiler gave me same errors just like yours.

./k8s.io/api/core/v1/types.go:213: undefined: v1.Initializers

I solved this problem by using the "v1" inside the client-go, I changed my imported library like following,

import (
    "k8s.io/c

[2017-08-09 12:52] ncdc commented on #259
Can we close this issue? If you use v4.0.0-beta.0, everything will work. I wrote a [blog post](https://blog.heptio.com/straighten-out-your-kubernetes-client-go-dependencies-heptioprotip-8baeed46fe7d) on how to do this using `godep`, and you can achieve similar results using tools like `dep`, `govendor`, and `glide`.

[2017-08-09 20:33] jonstacks commented on #232
I had a similar issue and was able to get my code to compile by locking down the following versions using dep to what was in the [Godeps.json](https://github.com/kubernetes/client-go/blob/v3.0.0/Godeps/Godeps.json) for tag v3.0.0:

[code]

[2017-08-09 22:44] ericchiang commented on #268
Sorry, I'm confused what the issue you're reporting here. I understand how the code behaves, but what did you do where you hit this case? Why did this break something?

[2017-08-10 09:09] irisdingbj commented on #268
Hi Eric,

Let me give an example here:

1. you have an OIDC provider defined as below:
auth-provider:
      config:
        client-id: abc
        client-secret: abc
        id-token: xxxxx.xxxxx.xxxxx.xxxx
        idp-issuer-url: https://xyz.com/oidc/token
        refresh-token: yyyyyyyyyyyyy
      name: oidc
2. Your provide this as part of your kubeconfig file and create a kube client using clie

[2017-08-10 16:00] fatih commented on #259
Thanks all. The blog post from @ncdc was sufficient. We don't use Godeps, instead we use `govendor`. Because we already have client-go vendored to `v2.0.0`, these were the steps I've done:

[code]

After upgrading from `v2.0.0` to `v4.0.0-beta0` we also had to change some import paths, types and functions as it's not a backwards compatible version. Below is a script we use for our own monorepo. No

[2017-08-11 23:43] caesarxuchao commented on #255
Please reopen if this is not resolved.

[2017-08-11 23:43] #255 closed

[2017-08-14 01:30] orbitalmedia opened #271 "Is there a way to create a batch/v1 Job using client-go?"

[2017-08-14 01:32] #271 closed

[2017-08-14 01:32] orbitalmedia commented on #271
oops...found it

[2017-08-14 12:24] ppingfann opened #273 "example cannot be found"
example cannot be found

[2017-08-18 00:33] caesarxuchao commented on #273
See https://github.com/kubernetes/client-go/tree/master/examples.

[2017-08-18 00:33] #273 closed

[2017-08-18 00:37] caesarxuchao commented on #260
The workaround looks good.

`c.Networking().NetworkPolicies(ns).List` will work with  >=1.7 apiserver.

It's a bug that older versions of client-go didn't contain extensions/v1beta1 network policies, but we decided not to fix because network policies had graduated to networking/v1 in 1.7.

[2017-08-18 00:37] #260 closed

[2017-08-18 00:54] caesarxuchao commented on #273
I think you meant that the links to the examples were broken. https://github.com/kubernetes/client-go/pull/272 Should fix that.

[2017-08-18 06:26] jgsqware commented on #260
Ok thanks!

On ven. 18 août 2017 02:37 Chao Xu <notifications@github.com> wrote:

[2017-08-19 19:07] tamalsaha commented on #236
Thanks for the replies! I am exploring an idea to auto generate json patch and apply the JSON patch type. I have a working demo: https://github.com/tamalsaha/patch-demo/blob/master/main.go

What do you think about this?

[2017-08-19 22:25] tao-lu commented on #236
This might also be of use: https://github.com/kubernetes/apimachinery/blob/master/pkg/util/strategicpatch/patch.go

[2017-08-20 00:32] tamalsaha commented on #236
I looked at the methods. It does not seem very useful for my case.

My use-case is, I have the full object (Deployment/RC). Then I want to add a side-car to it. If I do just update, sometimes it fails due to conflict. In my demo, I create the modified object as I would do for UPDATE calls. Then use `mattbaird/jsonpatch` to create a patch from the original struct and modified struct. Then I send th

[2017-08-20 06:39] tamalsaha commented on #236
I have together a util lib for this https://github.com/appscode/kutil,  in case anyone is interested ,

[2017-08-20 06:39] #236 closed

[2017-08-21 04:22] kenontech commented on #193
Follow up to this question, what is the right decoder to use if the type of the k8sStruct is not known before decoding?

[2017-08-21 05:26] frankgreco commented on #259
@ncdc I ran into this problem today and have not been able to resolve it. I am getting the same exact error as the one shown in the original issue. However, I am not importing/using `k8s.io/api`. Here is a piece of my glide.yaml:

[code]

For core types such as `Secret`, `Service`, I am using `k8s.io/client-go/pkg/api/v1` which should be safe to use as it is used in the `4.0.0` release of client-g

[2017-08-21 14:58] #259 closed

[2017-08-21 19:45] caesarxuchao commented on #256
My Gopkg.toml is
[code]
I ran `dep ensure` and it worked.

[2017-08-22 01:11] frankgreco opened #276 "CRD Bug in v4.0.0"
There are 2 bugs that I thought would get fixed in release 4.0.0 but still persist.

I was getting the following error:
[code]
The fix was to change my type name from `APIProxyList` to `ApiProxyList`. Of course this will break `golint`. It seems as though it expects the type name to match the kind name. However, since we are giving it a `runtime.Object` telling it what the type should be, why shou

[2017-08-22 03:44] kenontech opened #277 "UniversalDecoder can't decode Job config file"
Hi there,

I was trying to use the UniversalDecoder to decode a Job yaml config file, but go an error:
[code]
The branch I am using is v4.0.0

Is there any special consideration not supporting Job type resources in UniversalDecoder?

[2017-08-22 13:38] vongohren opened #278 "Example is failing. Using dep"
So im trying to run the example, I have copied the source code to my own file and folder. Did a dep init and have this toml file:

[code]

I get this in my Gopkg.lock:
[code]

But when im trying to build my project, which is a copy paste of the example. Then everything goes wrong:

[code]

[2017-08-22 15:19] frankgreco commented on #278
[code]

Why are you using the master branch here. Just let `client-go` pick the version it needs

[2017-08-22 18:59] vongohren commented on #278
@frankgreco it was automatically generated for me when I did "dep ensure".
But maybe its wrong?

[2017-08-22 20:50] MikeSpreitzer opened #279 "Release 3.0 still references github.com/emicklei/go-restful/swagger"
I am using glide in developing my client application, and it wants to flatten out dependencies, so this bogus dependency is a problem.

[code]

[2017-08-22 20:53] frankgreco commented on #278
@vongohren correct, just try creating your own

[2017-08-22 21:03] vongohren commented on #278
Thanks il try tomorrow, bedtime in norway.

[2017-08-23 08:04] vongohren commented on #278
Yeah, just put down my the release-1.7 as branch instead, and that solved the problem

[2017-08-23 08:04] #278 closed

[2017-08-23 23:03] yifan-gu opened #280 "client-go v4.0.0 doesn't include CustomResourceDefinition types"
CustomResourceDefinition is introduced in 1.7 k8s, but it's not included in client-go v4.0.0.
Not sure if we can still say client-go v4.0.0 satisfies the compatible matrix as defined in:
https://github.com/kubernetes/client-go#compatibility-matrix

[2017-08-25 13:01] ncdc commented on #267
@tao-lu could you please post your code? We have several examples in kubernetes/kubernetes using informers with a fake clientset. Hopefully if you can share your code, we can assist.

[2017-08-25 17:37] tao-lu commented on #267
@ncdc I ultimately changed the way I relied on informers to bypass this issue. Unfortunately, I don't recall what the circumstances surrounding the initial post were and the commit is probably squashed. I'll just close this for now.

[2017-08-25 17:37] #267 closed

[2017-08-27 18:27] frankgreco commented on #280
Related #247

[2017-08-28 18:46] MrHohn opened #281 "Use InClusterConfig but allow master IP to be overwritten?"
**Is this a BUG REPORT or FEATURE REQUEST?**:
 /kind feature

**What happened**:
When trying to deploy kube-proxy DaemonSet with service account, I found [`InClusterConfig()`](https://github.com/kubernetes/client-go/blob/v4.0.0/rest/config.go#L305-L309) not usable for kube-proxy, as this function sets master's IP to kubernetes service's VIP, which depends on kube-proxy itself to set up the proxy r

[2017-08-28 21:52] lavalamp commented on #281
I'm not sure it makes sense to add a special constructor for this case,
since kube-proxy is really the only component that should ever have that
problem.

I would expect overwriting the host field to work, though.

On Mon, Aug 28, 2017 at 11:46 AM, Zihong Zheng <notifications@github.com>
wrote:

[2017-08-28 22:11] murali-reddy commented on #281
@MrHohn thanks for looping me in. If its possible to achive this it would be helpful.

I implemented a service proxy in [kube-router](https://github.com/cloudnativelabs/kube-router). I am sure there will be other implementation of service proxy for Kubernetes. This problem will affect any implemenation of service proxy.

[2017-08-29 00:02] bjhaid commented on #281
is explicitly setting the env var `KUBERNETES_SERVICE_HOST` and `KUBERNETES_SERVICE_PORT` not an adequate solve? We do this today in our deployment for all our incluster configurations as we don't use the in cluster VIP (for other reasons though)

[2017-08-29 15:27] bjhaid opened #285 "`Watch.Stop` not freeing up memory allocated to the watch"
### Version
client-go v4.0.0

### Feature or Bug
Bug

### What happened

Call to `resourceWatch.Stop` in the code below does not free up memory

[code]

### What do I expect
`resourceWatch.Stop()` should free up allocated memory for the watch

[2017-09-05 07:32] anguslees opened #286 "Make it possible to set ?export=true"
`rest.Request` supports specifying URL params as objects via `.VersionedParams()`.  I _think_ this is how I'm meant to be use `metav1.ExportOptions`, although there appears to be no opportunity to specify this through the `kubernetes.Interface` typed interfaces.

[2017-09-05 20:23] drshrey opened #287 "Add more information to JobStatus"
I'm doing a test where I create a job with an invalid-formatted docker image name. Since the job doesn't fail and just waits, there's no way for me to know that the image had a failure due to InvalidImageName. I don't want to have a timeout for Jobs since there are instances where they can take a long time to complete.

Is there a way when I poll for the status for the job to get more information

[2017-09-05 23:35] TimBozeman commented on #204
Do you know how to use remotecommand?

I tried to cannibalize this implementation
https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/blob/6a00fe8b7999a2b6bb34698c30db93665def55ff/executors/kubernetes/exec.go
, but can't seem to get it going. I keep getting a "Timeout occured".

[2017-09-06 01:15] hausdorff opened #288 "Namespace flag seems to be ignored when the kubeconfig current context sets it"
I will work on a simple reproduction if there's interest, but before I did, I wanted to socialize the general problem to make sure it's not actually the _desired semantics_.

We develop a project, [kubecfg](https://github.com/ksonnet/kubecfg), which is a Kubernetes client building on top of client-go v3.0.0. Our client-go [flag parsing logic](https://github.com/ksonnet/kubecfg/blob/7551f5de0ad4ced

[2017-09-06 03:39] ericchiang commented on #280
Closing as dup of #247

[2017-09-06 03:39] #280 closed

[2017-09-06 10:56] discordianfish opened #289 "Document where to use versioned struct and where not"
Hi,

I'm using client-go's [NewSharedInformer](https://godoc.org/k8s.io/client-go/tools/cache#NewSharedInformer) to access ingresses but I'm not sure which expectedType to use.

I've started out using `(k8s.io/client-go/pkg/apis/)extensions.Ingress` which worked on my 1.7 clusters but another user reported their got the error `expected type *extensions.Ingress, but watch event object had type *v1b

[2017-09-06 16:19] stibi commented on #289
FYI, I got the error also on 1.7 k8s cluster (1.7.2)

[2017-09-06 21:52] ericchiang commented on #281
You can do this today without modifications to client-go:

[code]

Or even:

[code]

The service account token and CA are documented at https://kubernetes.io/docs/tasks/access-application-cluster/access-cluster/#accessing-the-api-from-a-pod

Probably better to just improve the documentation for how to create your own in-cluster clients and use the rest package instead of adding more helpers.

[2017-09-06 22:39] MrHohn commented on #281
Thanks all for the inputs. Overwriting the host field makes sense to me, I will go with that path. Closing this issue.

[2017-09-06 22:39] #281 closed

[2017-09-07 04:13] murali-reddy commented on #281
@MrHohn sorry, i am still not clear. while we can set `host`field in `InClusterConfig`, from service proxy perspective, how do we know host details to set?

[2017-09-07 08:37] timoreimann opened #290 "Cannot find AddOrUpdateTaint function anymore after migrating from v3 to v4"
We recently upgraded a project from client-go v3.0.0 to v4.0.0. Previously, we used the [`AddOrUpdateTaint` function](https://github.com/kubernetes/client-go/blob/v3.0.0/pkg/api/v1/helpers.go#L524) to apply taints to nodes conveniently. Unfortunately, I wasn't able to find the function anymore after the upgrade to the newer client-go version.

Between v3 and v4, [this commit](https://github.com/ku

[2017-09-07 16:59] ericchiang commented on #290
This was moved out of `api/v1/helpers` in https://github.com/kubernetes/kubernetes/pull/46514

It's a nice convenience but not particularly complicated to implement yourself. Is there some action you'd like to take to fix this or were you just wondering why it was moved?

[2017-09-07 17:34] caesarxuchao commented on #234
cc @jennybuckley @roycaihw who might be interested in expanding the [tool](https://github.com/kubernetes/client-go/issues/234#issuecomment-314021848) Eric built.

[2017-09-07 17:39] caesarxuchao commented on #290
@timoreimann we unified the API types used by client-go with those used by the main Kubernetes in last release, so that they can share the same utility functions, but we are short-handed at the moment to finish the moving.

[2017-09-07 17:57] murali-reddy commented on #281
Agree this is not the scope of the bug @MrHohn i guess the problem of how to build a service proxy that can run as daemon set with service accont is still a chicken-and-egg problem.

[2017-09-07 18:02] MrHohn commented on #281
Agree with that :)

[2017-09-07 19:37] timoreimann commented on #290
@ericchiang @caesarxuchao as we continue to need the function, we vendored the copy from v3. That's okay for us, though I think it'd be nicer to reference something hosted by client-go. I could imagine upstream changing the implementation in the future which would then happen detached from our copy.

If you think that bringing back `AddOrUpdateTaint` into client-go is a worthwhile endeavor, I'd be

[2017-09-07 19:44] caesarxuchao commented on #290
We want to move all k8s-specific utility functions to k8s.io/pkg. @mengqiy do you know if we have a proposal for that?

[2017-09-07 19:54] mengqiy commented on #290
I believe it will be more likely to be called `k8s.io/common`.
Proposal: https://github.com/kubernetes/kubernetes/issues/50475
I think that repo will be ready at the very beginning of Q4.

[2017-09-07 21:17] timothysc commented on #288
/cc @ncdc @sttts ^

[2017-09-07 22:25] lavalamp commented on #288
That sounds like a bug, but a kubectl bug, not a client-go bug? @pwittrock

On Thu, Sep 7, 2017 at 2:17 PM, Timothy St. Clair <notifications@github.com>
wrote:

[2017-09-08 03:20] ggaaooppeenngg opened #291 "How to add context in the request?"
I think add context in the request cloud help in tracing system as well as early cancel, is there a support for `golang.org/x/net/context` ?

[2017-09-08 13:14] ncdc commented on #288
@lavalamp it is a client-go bug since client-go contains all the config loading + override logic. I'm wondering if https://github.com/kubernetes/kubernetes/pull/46299 fixes the issue?

[2017-09-08 15:39] timoreimann commented on #290
That looks like a bigger restructuring than what I expected -- still happy to help, though it might be easier to let you (upstream) finish the migration planning first.

Shall we keep this issue open to make sure we won't forget about `AddOrUpdateTaint`? Or will that happen automatically once `k8s.io/common` shapes itself up?

[2017-09-08 16:31] lavalamp commented on #288
I see. That does look like it might fix it.

(that override code is really confusing :( )

On Fri, Sep 8, 2017 at 6:14 AM, Andy Goldstein <notifications@github.com>
wrote:

[2017-09-08 17:49] caesarxuchao commented on #290
I expect all the helper functions that were in pkg/api/v1/helpers.go to be move to the new repos, so it will happen "automatically". Closing.

[2017-09-08 17:49] #290 closed

[2017-09-08 23:12] ash2k commented on #189
Please keep them. They are needed for those who use Bazel.

[2017-09-09 20:42] justinsb opened #292 "Does not build with bazel"
Having trouble getting the recommended v4.0.0 tag working with bazel:

* apimachinery requires @io_kubernetes_build, I grabbed this from the kubernetes/kubernetes WORKSAPCE

* Then hit `.../external/io_k8s_apimachinery/pkg/util/sets/BUILD:25:1: no such package '@io_k8s_apimachinery//hack/boilerplate': BUILD file not found on package path and referenced by '@io_k8s_apimachinery//pkg/util/sets:set-g

[2017-09-09 22:32] ash2k commented on #292
I have reported it here https://github.com/kubernetes/kubernetes/issues/50975

[2017-09-11 02:31] bay1ts opened #293 "install error"
I tried to install according to install.md but failed, so I used the following way:git clone -b release-3.0 https://github.com/kubernetes/client-go.gitI gopath / src / k8s.io directory with go-client. But when I build my project, I have the following error:./../k8s.io/client-go/discovery/discovery_client.go:26:2: can not find package "github.com/emicklei/go-restful/swagger" in any of:***
go-client

[2017-09-11 16:46] ericchiang commented on #293
Please describe how you installed client-go. Did you use any of the instructions in https://github.com/kubernetes/client-go/blob/master/INSTALL.md ?

[2017-09-14 16:15] pratikmallya commented on #232
I'm unable to get this to work with any of the pins mentioned in this comment :(.

[2017-09-14 16:26] jinankjain commented on #232
@pratikmallya May be this helps?

[code]

[2017-09-14 21:39] pratikmallya commented on #232
@jinankjain unfortunately, that doesn't seem to work either. I get a lot of errors like:
`[ERROR]	Error scanning k8s.io/client-go/util/retry: open /Users/mallya/.glide/cache/src/https-k8s.io-client-go/util/retry: no such file or directory`

[2017-09-14 21:46] jinankjain commented on #232
Just remove your glide cache or update it rm -rf ~/.glide/

On Sep 14, 2017 5:39 PM, "Pratik Mallya" <notifications@github.com> wrote:

[2017-09-14 22:02] pratikmallya commented on #232
@jinankjain that's the first thing I tried. Those errors are present even after removing the folder (and running `glide cc`).

[2017-09-15 20:56] ianvernon commented on #232
I am hitting similar issues, except I need to be using `k8s.io/kubernetes` `1.8.0-beta.1`. Keep getting issues like the following when using the following:
* k8s.io/client-go
** c6f8cf2c47d21d55fa0df928291b2580544886c8
* k8s.io/apimachinery
** 1168e538ea3ccf444854d1fdd5681d2d876680a7
* k8s.io/api
** 0b011bb8613011ab0909c6a759d9d811dc21a156
* k8s.io/apiextensions-apiserver
** 2bfb07d318ed549813240d

[2017-09-16 12:57] sebglon opened #294 "Exec cmd on container not work with example config"
I don't now why but, i have create  a <script src="https://gist.github.com/sebglon/88662492f979471dd25fd5abd87451ab.js">gist</script> to exec cmd on container.

I have using example read config. but with this, exec cmd not work i have an error without message.
If i enable glog level 9, i can see, than versionedparameter are not put on request.

I don't say why.
If i  force those parameters, i can

[2017-09-18 06:35] pratikmallya commented on #259
Could you possibly provide direction for users of `glide`? I tried using the following:
[code]
But I still get the compilation errors.

[2017-09-18 09:59] paralin commented on #232
This stuff is so stupidly difficult to get set up at the moment.... I can't even find a set of versions that compile any more, even with my old Gopkg.toml

[2017-09-18 11:48] timchenxiaoyu opened #295 "patch configmap error"
patch configmap error
[code]
the object has been modified; please apply your changes to the latest version and try again", Reason:"Conflict", Details:(*v1.StatusDetails)(0xc42009f920), Code:409}

[2017-09-18 15:35] ianvernon commented on #232
I have the following versions working for compilation:
[code]

[2017-09-19 02:59] timchenxiaoyu commented on #295
we must get configmap first

[2017-09-19 02:59] #295 closed

[2017-09-19 18:36] pratikmallya commented on #232
@ianvernon this doesn't seem to work either. Specifically, glide can't seem to fetch all the dependencies

[2017-09-19 21:17] aaskey opened #296 "not enough arguments in call to spec.ExpandSpec"
Hi there,

I saw the following error when using v4.0.0 client-go in my project.

[code]
Glide is used to manage my project's dependency. Here is the content of glide.yaml.
[code]
I used
[code]
To pull the dependancies to vendor directory to my project.

Did I miss any steps to make client-go dependencies correct?

[2017-09-19 22:34] tamalsaha opened #297 "Get deleted object from work queue"
We are in the process of using workqueue for our various controllers. One of the issue I see is that dequeue from workqueue does not return the object (it is nil). I understand the idea that the desired state by user is `nil`, after an object is deleted. But there are cases where we need access to the metadata/spec on the object. One work around I have found is to register my controller as a final

[2017-09-19 22:47] paralin commented on #232
I finally just resorted to using Godeps. Here is my FULL godeps.json (most deps are probably unnecessary): https://gist.github.com/paralin/4e88551a6099d83bf46c20f8f45d973a

[2017-09-19 23:01] dpetersen commented on #277
I had the exact same problem you had, with code that looked identical to what you've provided above. It worked in a previous version of this client, then stopped working on my attempted upgrade to 4.0. I've made some modifications to my code that appear to fix the issue and make everything work like it did before. Previously I had the Decode line identical to yours, and now I have:

[code]

The `c

[2017-09-19 23:15] aaskey commented on #296
It turns out that of the 6 go-openapi packages, the "spec" package was pulled incorrectly (by Glide?), here is what is actually in glide.lock:
[code]

Here is what is expected in Godeps.json from client-go:
[code]
Is it a Glide bug?

[2017-09-20 04:23] ianvernon commented on #232
@pratikmallya while I admire what glide tries to do, I think it tries to automate too much of the dependency process and can result in a state that is very hard to debug / fix if something goes wrong. I find [vndr](https://github.com/LK4D4/vndr) to be pretty good for this:

[2017-09-22 00:14] beeradb commented on #293
I have the same issue. Using the code fromhttps://github.com/kubernetes/client-go/blob/release-4.0/examples/in-cluster-client-configuration/main.go with dep for dependency management.

Running dep init after copying the code results in a successful initialization. The final line of the output is:

`Locking in v4.0.0 (d92e849) for direct dep k8s.io/client-go`

Trying to run the code results in the

[2017-09-22 03:44] wangweihong commented on #293
met same errros too. My kubernetes's  source code version is 1.7.3.  client-go is v4.0.0.  apimachinery is release-1.7.

[2017-09-22 09:06] CSharpRU opened #298 "too many arguments in call to r.DecodeBytes"
Hello there,

I'm having a strange issue with the client code, check info below.

Client version: `v4.0.0`
Go/Dep version:
[code]
Log:
[code]
Example of code:
[code]

What I did wrong? Error definitely depends on `github.com/ugorji/go/codec`. Do I need to install specific hash or something like that?

[2017-09-22 16:45] beeradb commented on #293
I was able to get the example from https://github.com/kubernetes/client-go/issues/293#issuecomment-331315608 to run by using Glide.

[2017-09-22 20:38] TimJones commented on #298
I'm having the same issue. Should we use `Godep` specifically to manage dependencies? My project uses `dep` since that is\should be the 'official' tool.

[2017-09-22 23:42] ash2k commented on #298
The cause of the issue is the wrong version of `github.com/ugorji/go` `dep` is picking up - the latest commit in the repo changes the signature of this method and hence generated code must be regenerated. Try using the same version as client-go - works for me with `dep`.

[2017-09-23 01:36] beeradb commented on #298
I had the same issue as reported in #293. I also opened https://github.com/golang/dep/issues/1207 in the dep repository to track the issue, as it seems like it's a dep problem.

As I reported in those issues, I was able to get dependencies working properly by using glide (for now).

[2017-09-25 08:18] TimJones commented on #298
For those who can't\don't want to change dependency tools, we added the following to our `Gopkg.toml`
[code]

[2017-09-25 13:28] frankgreco commented on #276
Would someone be able to comment on this issue?

[2017-09-25 15:40] frankgreco commented on #276
@deads2k suggested that this might be fixed with CRDs and that this problem might just be localized to TPRs.

[2017-09-25 15:41] deads2k commented on #276
In particular, the serialization of list kinds from the API server using TPRs used a guess at what the valid ListKind may be.  CRDs have a field for the user to specify the actual value.

[2017-09-26 22:25] aaskey commented on #296
Opened an issue with Glide:
[Glide couldn't pull all packages specified by Godeps.json correctly](https://github.com/Masterminds/glide/issues/912)

[2017-09-26 22:25] #296 closed

[2017-09-27 15:33] xh3b4sd commented on #232
For your interest, when using glide, this works for me.

[code]

[2017-09-28 00:25] ash2k commented on #232
Works fine with `dep` too: https://github.com/atlassian/smith/blob/master/Gopkg.toml

[2017-09-28 01:44] frankgreco commented on #276
@deads2k

This issue persists with CRDs. I have created a complete reproducible program along with instructions. Find it [here](https://github.com/frankgreco/client-go-crd-bug). Here is a recap of the README for that project:

#### Start Minikube

[code]

#### Build Program

[code]

#### Create CRD Manually

[code]

#### Start Program

[code]

#### Reproduce Bug

[code]

[2017-09-28 02:48] frankgreco commented on #276
Thanks to @liggitt for discussing this with me in the Kubernetes Slack. Here is the summary of our conversation that will result in the closing of this issue:

* It is highly recommended that the name of the CRD kind match exactly (case sensitive) the name of the golang struct used with it. For example, if your kind is `ApiFoo`, then your struct should be `type ApiFoo struct`
* Users of `golint` w

[2017-09-28 02:48] #276 closed

[2017-09-28 06:03] ianlewis opened #299 "dep init fails with "No versions of k8s.io/apimachinery met constraints""
Maybe similar to #186 but errors on apimachinery.

[code]

[2017-09-28 15:59] peterwillcn opened #300 "How to get pods ip?"
how to get pod ip?
[code]

![icon](http://static.longrunweather.com/pod.jpg)

[2017-09-28 16:07] ericchiang commented on #300
[code]

[2017-09-28 16:14] peterwillcn commented on #300
@ericchiang Thanks

[2017-09-28 16:14] #300 closed

[2017-09-29 01:14] nilebox opened #301 "release-4.0 is out of sync"
The latest client-go specific commit in kubernetes monorepo `1.7.6` release (`release-1.7` branch) is the following (Sep 14): https://github.com/kubernetes/kubernetes/commit/4bc5e7f9a6c25dc4c03d4d656f2cefd21540e28c
but the latest commit in `release-4.0` branch of client-go repo is "v.1.7.5-beta.0" (Aug 16) https://github.com/kubernetes/client-go/commits/release-4.0

[2017-09-29 15:49] nstott commented on #247
the hoop jumping that's involved in managing tpr clients is awkward, any simplification here is great

[2017-10-02 18:27] jekohk commented on #128
@ahmetb I've updated the CRUD example to include a rollback operation, however I'm having issues getting integration tests to pass locally.
Running `make test` is throws the following:
[code]

Any ideas? I've just been following the Community development guide- not sure if there some extra steps required when working under /staging directory.

[2017-10-02 18:50] ahmetb commented on #128
@jekohk can you open a separate issue for this? It looks like one of the dependencies broke the example.

[2017-10-02 20:18] caesarxuchao commented on #128
@jekohk it looks wrong if a client-go example requires compiling k8s.io/kubernetes. As @ahmetb suggested, let's discuss the problem in a separate issue.

[2017-10-02 21:10] jekohk opened #303 "unit tests failing"
I'm attempting to add to the CRUD example which requires forking the main kubernetes repository, and making changes in the staging area.

Following the [community development guide](https://github.com/kubernetes/community/blob/master/contributors/devel/development.md) I successfully build with `make` and pass all presubmission verification with `make update` but `make test` always fails with the f

[2017-10-02 21:13] jekohk commented on #128
@ahmetb @caesarxuchao i've elaborated more in [#303](https://github.com/kubernetes/client-go/issues/303)

[2017-10-02 23:06] caesarxuchao commented on #303
What's client-go's role in the bug? The error messages didn't mention client-go.

Have you tried `make clean` and than `make test`? Or try to manually remoe the `_tmp` package.

[2017-10-02 23:21] jekohk commented on #303
@caesarxuchao that seems to have fixed the issue- you're right, it's unrelated to client-go. I mistakenly thought I had to compile k8s.io/kubernetes. Thanks!

[2017-10-02 23:21] #303 closed

[2017-10-02 23:23] caesarxuchao commented on #303
Cool. I should had read your original post more carefully :)

[2017-10-03 00:20] JackQuincy opened #304 "Referenced docker revision in 4.0.0 no longer in github"
Seems like docker changed their history.
version cd27f179f2c10c5d300e6d09025b538c475b0d51 is no longer in their history. this is breaking me trying to use glide to import client-go.

[2017-10-03 09:32] vdemeester commented on #304
@JackQuincy Could you provide more input ? On which project is that happening ? What is your dependency tree (`glide.yaml`, `glide.lock`) ?

`kubernetes/client-go` doesn't depend on `docker/docker` and as far as I know, we never rewrite history on `github.com/docker/docker` (and I hope it is true !!).

[2017-10-03 09:50] thaJeztah commented on #304
That commit looks to be a commit from the https://github.com/docker/distribution repository, but GitHub can do "magic things", like showing commits on any other repository 😞 - which can be super confusing.

It **looks** as if the commit is in the moby/moby repository; https://github.com/moby/moby/commit/cd27f179f2c10c5d300e6d09025b538c475b0d51
But the actual commit is in the https://github.com/doc

[2017-10-03 16:23] JackQuincy commented on #304
hmm seems I misdiagnosed. This is the error I'm seeing in glide: [INFO]  --> Setting version for github.com/docker/distribution to cd27f179f2c10c5d300e6d09025b538c475b0d51.
[ERROR] Failed to set version on github.com/docker/distribution to cd27f179f2c10c5d300e6d09025b538c475b0d51: Unable to update checked out version
[ERROR] Failed to set references: Unable to update checked out version (Skip to c

[2017-10-03 16:36] nikhita commented on #251
The links for examples have been fixed. I believe this can be closed now.

[2017-10-03 16:37] nikhita commented on #243
This has been fixed. I believe this issue can be closed now.

[2017-10-03 16:39] JackQuincy commented on #304
yep seems to be something with my dev enviroment as running in a dev container enviroment fixed it. I'll close the issue.

[2017-10-03 16:39] #304 closed

[2017-10-03 16:48] #243 closed

[2017-10-03 17:46] thaJeztah commented on #304
Great! Thanks for reporting though! And good luck debugging :sweat_smile:

[2017-10-04 03:23] tamalsaha opened #305 "Client-go 5.0.0 ?"
When can we expect client-go 5.0.0 released?

[2017-10-04 20:56] timothysc opened #307 "Backwards compatibility testing client 5.0.0 yields errors."
Running client 5.0.0 against 1.6 has shown some errors in the api.

https://scanner.heptio.com/8617196843a164e27ef5fb71b78c34e8/diagnostics/
[code]

/cc @ncdc @chuckha @sttts

[2017-10-04 21:05] timothysc commented on #307
How does the client stop folks from adding new-fields that were added to existing objects
xref- https://github.com/kubernetes/kubernetes/pull/42717/files#r142792215 .

[2017-10-04 21:19] ncdc commented on #307
I'm not sure this is a bug in client-go? The e2e test is trying to use a fieldRef to a field that isn't supported via the downward API in Kubernetes 1.6. fieldRef.fieldPath is a free-form string, so it's not like client-go is talking a different protocol that 1.6 doesn't support...

[2017-10-05 03:26] IanLewis commented on #242
@ericchiang I suppose you're right that it was removed between v2.0.0 and v3.0.0 but still the issue stands.

[2017-10-05 03:26] IanLewis commented on #242
More folks noticing this on twitter: https://twitter.com/davecheney/status/915770572017037312

[2017-10-05 13:50] maleck13 commented on #291
I believe this issue is related to what you are referring to https://github.com/kubernetes/kubernetes/issues/46503

[2017-10-05 18:13] jekohk commented on #128
@ahmetb opened PR [#53474](https://github.com/kubernetes/kubernetes/pull/53474) with some updates to client-go CRUD example.

I'm interested in the TODO mentioning a sleep with exponential backoff- is this something you thought should be included in the example, or just a suggestion to those running an example like this in prod?

[2017-10-05 18:18] ahmetb commented on #128
@jekohk we have a retry package. we should use it where appropriate, for sure.

[2017-10-06 13:36] murali-reddy commented on #305
Appriciate if plan for  client-go 5.0.0 release can be shared.

Are there any gaps in [release-5.0](https://github.com/kubernetes/client-go/tree/release-5.0) branch  or is it compatible with 1.8 release?

[2017-10-06 13:38] nikhita commented on #305
/cc @sttts

[2017-10-06 13:47] tamalsaha commented on #305
I asked @sttts on slack. I am sharing his response:
![cgo-5](https://user-images.githubusercontent.com/94814/31280734-314fcbcc-aa62-11e7-924f-7171c76a013a.png)

[2017-10-06 14:03] murali-reddy commented on #305
thanks @tamalsaha

[2017-10-07 18:00] timothysc commented on #307
I'll close this one and open issues on docs and a PR to fix the test.

[2017-10-07 18:00] #307 closed

[2017-10-08 21:58] sigxcpu76 commented on #247
I was bit by this today. I think the README needs to be adjusted because ```Exactly the same features / API objects in both client-go and the Kubernetes version.``` is misleading, isn't it?

[2017-10-09 16:50] jlovero-isp commented on #293
I'm seeing the similar errors to @beeradb after trying to run the code examples when I pull dependencies using `dep`.  I used the instructions in INSTALL.md to lock the `client-go` library to v4.0.0. Any attempts to run either the code examples or code of my own results in a long list of errors that take the following form:

`cannot use T literal (type *T) as type runtime.Object in argument to sch

[2017-10-09 16:57] sigxcpu76 commented on #247
```client-go 5.0.0``` does not include them either. Maybe it can be fixed before the release, as I've read that the current is the release candidate.

[2017-10-09 16:58] sigxcpu76 commented on #305
How about the CustomResourceDefinition in 1.7 that was missed by 4.0.0? Will 5.0.0 have it and be compatible with Kubernetes 1.7 and 1.8?

[2017-10-09 17:01] tamalsaha commented on #305
What do you mean?

[2017-10-09 17:15] sigxcpu76 commented on #305
CustomResourceDefinition that replaced ThirdPartyResource in Kubernetes 1.7 is missing in client-go 4.0.0 and 5.0.0. TPR is still there although obsolete.
See #247 .

[2017-10-09 17:45] caesarxuchao commented on #247
@deads2k do you still feel strongly that the CRD type definition should remain in k8s.io/apiextension-apiserver, rather than in k8s.io/api? If so, we need to spend some time making the example clearer, or even adapting the clientset interface for easier integration.

[2017-10-09 18:14] tamalsaha commented on #305
See https://github.com/kubernetes/client-go/issues/247#issuecomment-335231159 (from the same thread). You can get CRD working with client-go 4.0.0

[2017-10-10 03:47] wangweihong opened #308 "object return by client-go informer don't have api Kind info"
When I use informer to watch cluster resource infos, I find  runtime.Object return by informer  don't include object `Kind` info.
`fmt.Println(obj.GetObjectKind().GetVersionKind().String()) `print ` /, Kind=`

[2017-10-10 07:20] sttts commented on #247
I don't think this is the right solution. But I agree that we have to improve the experience.

We cannot import k8s.io/apiextension-apiserver here because it creates an import cycle. We could place a very simple `_crd` example here though. Underscore packages are allowed. And we have to improve the README.md, being explicit that `k8s.io/apiextension-apiserver` must be vendored.

[2017-10-10 21:42] JackQuincy commented on #304
Might of figured out the issue. 4.0.0 depends on an old version of github.com/docker/distribution before this PR https://github.com/docker/distribution/pull/1716 was merged. And that has paths in it which are invalid in windows.

[2017-10-11 02:14] timothysc commented on #247
It's a really bad UX, whose design is befuddling to most outside observers.  I honestly don't know if someone new to the community would make any sense of what is there and why.

/cc @jbeda

[2017-10-11 12:42] mrIncompetent opened #309 "Missing ControllerExpectations"
I see the Daemonset controller in kube using ControllerExpectations to wait until a informer got the update that you just triggered.
For example:
If the daemonset controller creates a pod, it needs to wait until the informer got the add-event, so it does not create a seconds one in the meantime.

Is there anything there yet in the client?

[2017-10-11 12:50] deads2k commented on #247
As new API servers (like service catalog) are added, this will be normal operating procedure.  You need the shared client library and the different clients you want to use layered on top.  We should devote our effort to making that as easy an obvious as possible, because client-go will not grow to contain everything.

As @sttts noted, we can help with clear examples and documentation, but patching

[2017-10-11 18:56] sigxcpu76 commented on #305
I was expecting it to be available as a first class citizen, just like TPR was.

[2017-10-12 20:30] lzlicd opened #310 "Auto config reload clientset?"
For clientset created via kubernetes.NewForConfig(config), is it possible to automatically reload the config since several fields inside config might expire regularly like client-certificate, and the clientset becomes stale. Kubectl is fine since it's be used in interactive way.

[2017-10-12 21:38] jpeeler opened #311 "Change self signed certificates to not include extended key usage"
The current code specifies server auth: https://github.com/kubernetes/client-go/blob/82aa063804cf055e16e8911250f888bc216e8b61/util/cert/cert.go#L155
The problem is the current self generated certificates do not work with curl (on Fedora):
[code]
Removing the extended key usage allows everything to work as expected. Since these are for self signed certificates, I am hoping that the removal isn't a

[2017-10-13 14:38] liggitt commented on #311
the goal was to prevent that cert from being used as a client certificate

[2017-10-13 14:43] jpeeler commented on #311
@liggitt is this then an invalid way to use the certificates or can the key usage for the CA be changed? https://github.com/kubernetes-incubator/service-catalog/blob/5f4ca01ed86bd5e11a64390bcd3031767477ca63/contrib/hack/start-server.sh#L55

[2017-10-13 16:25] kernelpanek commented on #192
@caesarxuchao How would https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/config/use_context.go#L73 be translated if it were to be placed in the `examples` directory of this project?

[2017-10-14 13:54] EIrwin opened #312 "Out-Of-Cluster example doesn't build when vendoring with dep"
I have been using `k8s.io/client-go` for awhile and have recently been unable to get it to compile due to the following error.

[code]

I have gotten this in several projects where I have recently vendored (including the out-of-cluster example in `client-go/examples`).

I followed the instructions for `dep` in [https://github.com/kubernetes/client-go/blob/master/INSTALL.md](https://github.com/kube

[2017-10-14 21:16] EIrwin commented on #312
I have put this example in a repository with dependencies vendored using `dep` so that somebody can pull it down.

[https://github.com/EIrwin/k8s-out-of-cluster-example](url)

[2017-10-16 18:18] nikhita commented on #305
release-5.0 is now synced with the 1.8 branch. :tada:

[2017-10-17 08:47] wefine commented on #204
Hi, @TimBozeman

Do you know how to use remotecommand now?

[2017-10-17 10:09] tamalsaha commented on #204
@wefine , here are some example using client-go 5.x (master)

**port-forward:**
https://github.com/appscode/swift/blob/27d961dc386eef482127338d8000b3439085fb50/pkg/factory/tunnel.go#L41

**exec**:
https://github.com/appscode/searchlight/blob/22632646424bdd34c98bdaec87553fd182a85945/plugins/check_pod_exec/lib.go#L62

[2017-10-17 15:07] flyer103 commented on #276
I think this is not just recommended and this may be a must when defining the golang struct of the CRD.
If not so, the CRDList could not be registered and it couldn't use client-go to create instances of a CRD resource which is difficult to find what's wrong until knowing the implicit rule 😢

[2017-10-17 18:25] TimBozeman commented on #204
That's pretty much what I'm doing.
`//ExecCommand executes arbitrary command inside the pod
// https://github.com/zalando-incubator/postgres-operator/blob/master/pkg/cluster/exec.go
package main

import (
	"bytes"
	"fmt"

	remotecommandconsts "k8s.io/apimachinery/pkg/util/remotecommand"
	"k8s.io/client-go/kubernetes/scheme"
	"k8s.io/client-go/pkg/api/v1"
	"k8s.io/client-go/tools/remotecommand"
	"k

[2017-10-17 19:23] frankgreco commented on #276
@flyer103

I agree but what about:

‘’’
scheme.AddKnownTypeWithName(schemeGroupVersion.WithKind("ApiFoo"), &APIFoo{})
‘’’

[2017-10-18 01:52] flyer103 commented on #276
I have tested on k8s-v1.7.3 using client-go-v4.0.

If the SchemeBuilder is built like the following, it could use client-go to create instances of a CRD resource but the controller which watches the events of the CRD resource couldn't list the CRDList:

[code]

Do I have missed something to register the CRDList?

If the SchemeBuilder is built like the following and the name of the golang struct of

[2017-10-18 19:59] Spellchaser opened #314 "Support apiserver access from pods using firewall-only security option"
I'm trying to connect to the apiserver from a pod within a cluster. This might be a support/help question on how to setup kubernetes.

**Trace Path:**
I followed the [main README](https://github.com/kubernetes/client-go/blob/master/README.md#how-to-use-it) to [Example setup](https://github.com/kubernetes/client-go/tree/master/examples/in-cluster-client-configuration) to [Example go code](https://g

[2017-10-19 05:34] krmayankk commented on #150
Conditional Update is supported, what about if i update a k8s object but dont provide ResourceVersion, is that supported as well ?

[2017-10-20 14:51] Spellchaser commented on #314
The key problem was generating the expected keypair manually. It expects a certain format. After creating the keys, I was able to generate tokens,
https://kubernetes.io/docs/admin/authentication/#openssl

[2017-10-21 22:58] caesarxuchao commented on #312
`dep` isn't able to parsing the Godeps.json file in the client-go, so it downloads the master branch of apimachinery which isn't guaranteed to be compatible with client-go 4.0.0. I recommend using `glide`, which is able to parse the Godeps.json.

[2017-10-23 16:47] HackToHell opened #315 "Unable to use client-go v4.0.0"
I have already taken a look at https://blog.heptio.com/straighten-out-your-kubernetes-client-go-dependencies-heptioprotip-8baeed46fe7d,

Using client go with apimachinery's master.

[2017-10-23 17:10] Spellchaser commented on #314
I tried authenticating again but once again, client-go does not support firewall only security access.
[code]

[2017-10-23 17:27] Spellchaser commented on #314
For anyone curious who might also be running an unauthenticated server.

1. You must have the serviceaccount admission controller enabled. There is a recommended order found [here](https://kubernetes.io/docs/admin/admission-controllers/#is-there-a-recommended-set-of-plug-ins-to-use)
2. Use openssl genrsa (because kubernetes expects a specific format for keypairs)
[code]
3. Insert the required flag

[2017-10-24 05:13] HackToHell commented on #315
[Had a discussion with ncdc ](https://twitter.com/hacktohell/status/922509438342144000). I'll post working Gopkg.toml for v4.0.0

[code]

[2017-10-24 05:13] #315 closed

[2017-10-24 10:30] #305 closed

[2017-10-24 15:42] Spellchaser commented on #314
I see this has been raised before and then completely dropped in 2015.
https://github.com/kubernetes/kubernetes/issues/15016
https://github.com/kubernetes/kubernetes/issues/15368

Changes were [suggested](https://github.com/kubernetes/kubernetes/pull/15230/ ) and the [concern ](https://github.com/kubernetes/kubernetes/issues/13598)is that kubernetes does not want to support unauthenticated cluster

[2017-10-26 21:34] G-Harmon commented on #242
FYI, I hit this error message, and the 2nd Google search result led me here. Glad this has the solution!
As for where to document, perhaps somewhere near the docs for "gcloud container clusters get-credentials"?

[2017-10-30 05:01] danderson opened #318 "go-client 5.0.1 does not build with `dep`"
I believe due to recent mutations in k8s.io/apimachinery, specifically https://github.com/kubernetes/apimachinery/commit/158150cb5856aaec3a319ff460ca4b93b715adda .

To reproduce:
 - Create $GOPATH/bug-repro, and copy examples/workqueue/main.go to it.
 - Install/update dep: go get -u github.com/golang/dep && go install github.com/golang/dep/cmd/dep
 - Run `dep init`. Note in the output that it corr

[2017-10-30 16:53] caesarxuchao commented on #318
dep doesn't parse the Godeps.json file that pins the exact dependency version. I recommend using glide at the moment. https://github.com/kubernetes/client-go/blob/master/INSTALL.md#glide

[2017-10-30 23:18] caesarxuchao commented on #318
It seems dep does supports parsing Godeps.json now: https://github.com/golang/dep/blob/master/docs/FAQ.md#what-external-tools-are-supported

But we have other issues: https://github.com/golang/dep/issues/1124

[2017-10-31 00:16] davecheney opened #320 "release-5.0 is missing from he compatibility matrix"
Release 5.0 is not listed in the [compatibility matrix][0]. Which versions of Kubernetes is client-go 5.0 compatible with?

[0]: https://github.com/kubernetes/client-go#compatibility-matrix

[2017-10-31 00:25] aledbf commented on #320
@davecheney here https://github.com/kubernetes/client-go/pull/316

[2017-10-31 17:43] danderson commented on #318
Thanks! I've switched to glide, and I got a successful build. Thanks for the help, and for updating the documentation on `dep` (I originally used dep because INSTALL.md seemed to say it would work).

[2017-10-31 17:43] #318 closed

[2017-11-07 16:57] christianhuening commented on #193
`yaml.NewYAMLOrJSONDecoder()` etc. has been moved to `k8s.io/apimachinery/pkg/util/yaml`

[2017-11-07 18:00] lavalamp commented on #193
Yes, there is already code laying around that does this and possibly a few
other necessary things. I'd be a bit surprised if it's not included in the
client library; if not, we can move it.

On Tue, Nov 7, 2017 at 8:57 AM, Christian Hüning <notifications@github.com>
wrote:

[2017-11-08 16:29] anumantharaja opened #322 "Deployments are not creating"
Hi I'am trying to create Deployment from client-go but it is not creating and throwing an error as
**the server could not find the requested resource**

My k8s.io/client-go version 4.0.0
My kubernetes version is:
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.0", GitCommit:"fff5156092b56e6bd60fff75aad4dc9de6b6ef37", GitTreeState:"clean", BuildDate:"2017-03-28T16:36:33Z", GoVer

[2017-11-08 17:46] lavalamp commented on #322
Was apps/v1beta1 in 1.5? I guess probably not. You'll need to upgrade your
control plane or use extensions/v1beta1 to access deployments.

On Wed, Nov 8, 2017 at 8:29 AM, anumantharaja <notifications@github.com>
wrote:

[2017-11-08 19:17] ahmetb opened #323 "Propose: provide helper for KUBECONFIG resolution"
Hi maintainers–
I’ve been thinking that lots of people are developing client-side tooling using client-go and almost all of them are accepting [kubeconfig flags](https://github.com/kubernetes/client-go/blob/72e1c2a1ef30b3f8da039e92d4a6a1f079f374e8/examples/out-of-cluster-client-configuration/main.go#L37-L42).

**I propose that we provide functionality in client-go** (or other parts of apimachinery

[2017-11-08 19:21] ahmetb opened #324 "examples: must use Recommended*** constants"
I see we have

[code]

in https://godoc.org/k8s.io/client-go/tools/clientcmd#pkg-constants

We should use `examples/*/*.go` to use these since it’s the best practice.

[2017-11-08 19:26] ahmetb commented on #324
Probably should use

[code]

which seems to be unifying home directory resolution.

[2017-11-08 22:18] ahmetb commented on #78
@sttts do you have any updates from https://github.com/golang/dep/issues/1124? It would be awesome to be able to use client-go with dep.

[2017-11-08 22:40] sttts commented on #78
@ahmetb no update. But we can archieve 90% of that without transitive dependencies. That's the plan right now, targetting to have that for 1.9.

[2017-11-09 07:23] anumantharaja commented on #322
Thank you it's working now when I used extensions/v1beta1.

[2017-11-09 07:23] #322 closed

[2017-11-09 12:23] christianhuening commented on #193
@kenontech @ahmetb @newtonkishore @rmohr Here's my solution (thanks to Stefan Schimanski for valuable hints!):

[code]

[2017-11-09 23:53] MofeLee commented on #193
@christianhuening

![image](https://user-images.githubusercontent.com/5069410/32635653-cd7eaeb2-c576-11e7-9bac-b86cc724c79c.png)

![image](https://user-images.githubusercontent.com/5069410/32635545-5b54cf92-c576-11e7-91b2-9650571b333e.png)

Why my `client-go` doesn't have `api` inside `pkg` folder?

I use `go get k8s.io/client-go/...` to get `client-go`

[2017-11-09 23:55] lavalamp commented on #193
You are at a different version of the client, in which that code has moved
to the `k8s.io/api/...` package.

On Thu, Nov 9, 2017 at 3:53 PM, MofeLee <notifications@github.com> wrote:

[2017-11-10 22:47] ahmetb commented on #78
`dep ensure -v -add k8s.io/client-go@~5.0.1` just worked for me. I don’t know if it's a point-in-time coincidence.

[2017-11-12 20:38] danderson opened #325 "client-go pins a version of gopkg.in/yaml.v2 from 2 years ago"
The Godeps.json for client-go pins gopkg.in/yaml.v2 to version 53feefa2559fb8dfa8d81baad31be332c97d6c77 . That commit is from 2 years ago, and lacks a lot of bug fixes and new functionality (notably UnmarshalStrict, which is extremely useful for parsing configs out of ConfigMaps).

Please update this package pin to a (much) newer version.

More generally, this is a worrying consequence of using pa

[2017-11-14 00:07] jpeeler commented on #311
I didn't realize that Fedora 27 was switching crypto libraries for curl to OpenSSL. Given that curl with NSS was the only problematic scenario, I'm closing this.

https://fedoraproject.org/wiki/Changes/libcurlBackToOpenSSL

[2017-11-14 20:51] #314 closed

[2017-11-16 00:22] johngmyers opened #326 "Fake client doesn't filter Pods on FieldSelector"
The fake client is ignoring the FieldSelector when listing Pods.

[code]

[2017-11-16 05:05] ahmetb opened #327 "gcp auth plugin is not capturing error output from command"
I get empty error message when I disconnect from internet and use gcp plugin to authenticate:

`Get https://35.192.x.x/api/v1/namespaces/default/services/hello?includeUninitialized=true: error executing access token command "/usr/local/Caskroom/google-cloud-sdk/latest/google-cloud-sdk/bin/gcloud config config-helper --format=json": err=exit status 1 output=`

When I invoke directly, at least I get

[2017-11-17 15:24] wallrj opened #328 "Allow the /var/run/secrets path to be overridden for InClusterConfig"
My use case is that I want to use Telepresence to test and develop an in cluster component.

Telepresence makes the service account secrets available on my laptop at e.g.
 * `$TELEPRESENCE_ROOT/var/run/secrets/kubernetes.io/serviceaccount`

See:
* https://www.telepresence.io/howto/volumes.html

There's a tool called `proot` which I could use, but it's not available as a Fedora package right now.

[2017-11-17 17:02] ericchiang commented on #328
[code]

[2017-11-19 06:16] tomykaira opened #329 "HTTP port-forward broke on client terminates"
## Situation

- Components are connected as Go server -> port-forward -> iOS Client
- Using chunked transfer encoding to download large movie file from Server to iOS

## problem

When iOS client exits with SIGKILL (i.e. restart app from Xcode), the port forward emits an error

[code]

It is ok, but after this error, all connections to portforward are rejected with timeout.

[code]

## Expected beh

[2017-11-21 10:30] BugRoger opened #330 "Keep Dependencies Minimal"
As an example, with the addition of e12b58626cb4cf5f820b924eba476b51df0571dc we added 118MB of additional dependencies (not counting transitive dependencies).

As we all know big dependency trees are  annoying to handle and maintain. This is a plea for trying to keep dependencies to a minimum for client-go.

[2017-11-21 18:20] ericchiang commented on #330
There's active work on this.

The example azure plugin you linked to is optional and not imported by default, you have to opt in to add it as a dependency https://github.com/kubernetes/kubernetes/pull/41532.

We're also working on breaking dependencies from things like the openapi packages, which should further reduce the set of transitive imports https://github.com/kubernetes/kube-openapi/pull/21

[2017-11-21 18:21] ericchiang commented on #328
@wallrj can we close this?

[2017-11-21 20:16] #327 closed

[2017-11-21 22:44] wallrj commented on #328
Yep, thanks for suggestion @ericchiang

[2017-11-21 22:44] #328 closed

[2017-11-24 09:53] Catorpilor commented on #193
I tried the following example:
[code]
On my late-2016 MacBook Pro laptop
[code]
Is there any efficient way?

[2017-11-24 10:43] DogLi commented on #297
I'm alse waiting for the answer!

[2017-11-27 14:47] rcorre opened #331 "Glide cannot install 5.X with batchv1 reference"
This is a copy of https://github.com/Masterminds/glide/issues/945. I wasn't sure if it is an issue with `glide` or `client-go`, but since my issue with `glide` is still unanswered, I'm reaching out here. The issue is as follows:

- - -

I'm trying to bump [client-go](https://github.com/kubernetes/client-go/) to 5.x, but `glide up -v` prints:

[code]

## Minimal example:

`glide.yaml`:

[code]

`ma

[2017-11-27 17:25] rmohr opened #332 "Adding expectations and controller ref manager to client-go"
It would be great if the [expectations](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_utils.go) and the [controller reference manager](https://github.com/kubernetes/kubernetes/blob/master/pkg/controller/controller_ref_manager.go) could be added to client-go. They make it a lot easier to write proper controllers.

Especially the controller reference manager is usefu

[2017-11-28 20:49] donovansolms opened #333 "NetworkPolicyPort requires pointer to const for Protocol"
I found an inconsistency for specifying the Protocol for ingress and egress network policies that requires a workaround since Go doesn't allow getting a `const` address directly.

Client Version: client-go 5.0
Kubernetes Version: 1.8

In other areas where you need to specify a protocol/port combination, such as `ServicePort` you can do:
[code]

However, in [NetworkPolicyPort](https://godoc.org/k8s

[2017-11-29 03:03] arunmk opened #334 "Node watch returns events with nil objects"
I have a small code running on master to detect when a node enters / leaves the cluster. The overall code is as follows:
1. Initially get all nodes in cluster using: clientset.Core().Nodes().List(v1.ListOptions{})
2. Create a watcher using: watcher, err := clientset.Core().Nodes().Watch(v1.ListOptions{})
3. Wait on nodeListChangedEventChan := watcher.ResultChan()
4. Consume the event using nodeLis

[2017-11-29 09:06] ngtuna commented on #51
This is still unclear. Did you mean we shouldn't use client-go to execute a port-forward ? @caesarxuchao

[2017-11-29 19:06] metalmatze opened #335 "Informer doesn't update for briefly running Pods"
Hey!
We create Pods with client-go like:
https://github.com/drone/drone-kubernetes-runtime/blob/e666fd071ca9420ab0e061b1ca5380b5bc88c5f1/engine/kubernetes/kubernetes.go#L123-L140

Once a Pod is running we wait for updates by the informer like:
https://github.com/drone/drone-kubernetes-runtime/blob/e666fd071ca9420ab0e061b1ca5380b5bc88c5f1/engine/kubernetes/kubernetes.go#L176-L194

When you run a co

[2017-11-29 19:09] jbw976 commented on #334
We are seeing this as well in https://github.com/rook/rook/issues/1195#issuecomment-347711772, which causes the watcher to go into a tight loop consuming 100% CPU.

We are using revision 42a124578af9e61f5c6902fa7b6b2cb6538f17d2 for the client-go pkg: https://github.com/kubernetes/client-go/tree/42a124578af9e61f5c6902fa7b6b2cb6538f17d2

Some logging I added for debugging shows the events having emp

[2017-11-29 19:16] ahmetb opened #336 "ResourceEventHandlerFuncs should be called concurrently in separate goroutines"
Simple pod list/watcher below.

I added a `sleep(5s)` and executed 5 pods and realized the `AddFunc` is called serially one by one (similar in DeleteFunc etc). So it took 25 seconds to all the way to the last pod. If AddFunc was invoked in parallel with goroutines, it would complete in ~5s.

This `AddFunc` signature doesn't even return an error, any reason why all invocations to these XxxFuncs are

[2017-11-29 19:19] jbw976 commented on #334
This closed issue could potentially be related: https://github.com/kubernetes/client-go/issues/12#issuecomment-253348471

[2017-11-29 19:48] krmayankk commented on #247
@deads2k are you against moving CRD creation client in client-go ? Why  or am i misunderstanding this  ?

[2017-11-29 20:01] deads2k commented on #247
I am against it.  As our type ecosystem grows, we'll have more and more clients that must build on top of client-go.  As it stands now, we have a clean logical separation of this type and its related server.  Rather than take the "easy" path that combines unrelated API groups together (this isn't related to `storage.k8s.io` at all) and is only available to kubernetes members, we should make the in

[2017-11-29 21:30] arunmk commented on #334
@jbw976 the issue you see is exactly the same as the issue that I am seeing. And yes, we do see >1 message per _millisecond_.

[2017-11-30 04:35] arunmk commented on #334
@caesarxuchao I see the issue linked with your resolution. I had implemented the same as a workaround. Is there any rationale for timing out the watches? (If liveliness is an issue it could be solved by keepalive pings)

[2017-11-30 17:33] lavalamp commented on #335
https://github.com/kubernetes/client-go/blob/master/tools/cache/shared_informer.go#L57

On Wed, Nov 29, 2017 at 11:06 AM, Matthias Loibl <notifications@github.com>
wrote:

[2017-11-30 18:56] lavalamp commented on #336
The intention is that you will use a work queue to parallelize this. The
informer can't know if what you are doing is safe for parallelism or not.

On Wed, Nov 29, 2017 at 11:16 AM, Ahmet Alp Balkan <notifications@github.com

[2017-11-30 18:57] ahmetb commented on #336
Makes sense thanks.

[2017-11-30 18:57] #336 closed

[2017-12-02 00:43] Huang-Wei opened #338 "stale events are pushed repeatedly"
I'm using a tweaked `examples/workqueue/main.go` (v5.0.1) to reproduce a weird issue: stale events are pushed to client repeatedly even when an API object has been deleted:

**Env:**

- k8s server: minikube v1.7.4
- client: `examples/workqueue/main.go` - replace `Pod` with `Service`

**Reproduce steps:**

1. run the main.go - `./main --kubeconfig=/Users/wei.huang1/.kube/config --v=4 --logtostderr=

[2017-12-05 19:57] jekohk commented on #323
I agree- this would reduce some boilerplate code and promote tools using client-go to follow a standard.

Seems easy enough to implement, probably using the same precedence as `kubectl` .

The bigger question would be where should this helper be located? In `client-go/util`?

There's already a `homedir` helper [here](https://github.com/kubernetes/client-go/blob/master/util/homedir/homedir.go) that

[2017-12-06 00:16] liggitt commented on #338
Update events during namespace deletion is not necessarily a bug. Objects that still exist can be updated during namespace deletion. Are you getting add or update events for the services?

[2017-12-06 08:06] ggaaooppeenngg commented on #192
Try this
[code]

[2017-12-06 08:25] zh168654 opened #340 "How to use a specific user credential and context"
I created a user credential and added a context, when using kubectl i could use the context to get pods list by the following command:
`kubectl --context=employee-context get pods`
when using client-go i tried the following code but failed with error "x509: certificate is valid for kubernetes, kubernetes.default, kubernetes.default.svc, kubernetes.default.svc.cluster.local, localhost, node1, node2

[2017-12-06 15:00] Huang-Wei commented on #338
@liggitt yes, updating events is not a bug - esp. in the case of client-go resync every ~10 minutes.

But the log above shows that it's **Add and Delete** events of a particular service (nginx-svc Service in namespace 590-1-12560):

[code]

Any hints on this?

[2017-12-08 03:13] Huang-Wei commented on #338
reproduced again. this time I tried the test slightly differently:

1. create a shell script to do (use kubectl) following things in parallel:
    - create 3 different Namespaces
    - create 3 nginx Services along with nginx Deployments in each Namespace
1. manually delete 3 nginx Services one by one - `kubectl delete svc1 -n ns1 && kubectl delete svc2 -n ns2 && kubectl delete svc3 -n ns3`

So it

[2017-12-08 16:11] r7vme opened #342 "How to reinitialize client?"
Hello, this is more support question that a bug (i hope so).

I'm using client-go in small app that calls cluster API and checks nodes in NotReady state (like cloud-provider code does). I've stuck with a problem that after pod (guest cluster kubernetes master vm) hard killed, i have dead tcp connection in my pod. Client-go tries to reuse it for next 10-17 minutes until TCP is dropped.

To workarou

[2017-12-09 10:26] dlespiau commented on #320
Seems like this could be closed as #316 is merged.

[2017-12-10 21:27] ahmetb opened #343 "go get broken"
I just did `go get` on a clean gopath and it seems to be broken at the moment.

I think it's also blocking [godep method](https://github.com/kubernetes/client-go/blob/master/INSTALL.md#godep) from working, too.

[code]

[2017-12-11 22:42] four2five commented on #293
Could those of you that got it working post your glide.yaml files? I'm still struggling with this a bit.

[2017-12-11 23:42] Ropes commented on #299
If this is any help, I've been working on an example project using `dep` for vendoring. This
[constraints](https://github.com/Ropes/k8s-trailhead/blob/master/Gopkg.toml#L5) Gopkg.toml file is working with client-go v5.0.1 and k8s api* libs tagged to version: `kubernetes-1.8.2`.

I can't promise it will work with all client-go types. However as I add examples to the project I've been ironing out is

[2017-12-12 05:24] ianlewis commented on #299
There has been some work done by @sttts and others to make this better. I think it's safe to close this issue for now until I get a chance to test it again.

[2017-12-12 05:24] #299 closed

[2017-12-12 10:56] sashabaranov commented on #343
Any solutions here?

[2017-12-12 14:14] liggitt commented on #297
The queue just stores the key (typically namespace/name) of the object that changed in a way that needs to be processed. The workqueue should take the absence of the object in the store/indexer to mean the object doesn't exist and should be removed.

If you need the object, hook in at the DeleteFunc level to temporarily store the deleted object for use but be aware it is not always available (if y

[2017-12-12 14:14] #297 closed

[2017-12-12 17:20] ericchiang commented on #343
This is an issue with an update to kube-openapi https://github.com/kubernetes/kube-openapi/issues/27

We're trying to get it resolved. See discussion in https://github.com/kubernetes/kube-openapi/issues/28

[2017-12-12 17:26] ericchiang commented on #343
/assign @luksa

[2017-12-12 17:47] luksa commented on #343
So, `go get` is problematic, because it fetches the HEAD of kube-openapi, while client-go should use an older version (as specified in Godeps.json).

You should be able to get the client using `go get -d k8s.io/client-go/...`

Refer to https://github.com/kubernetes/client-go/blob/master/INSTALL.md for instructions on how to properly install client-go.

[2017-12-12 18:28] ahmetb commented on #343
@luksa that's what I ran, see issue description. it's broken.

Glide method seems to be working in the meanwhile.

[2017-12-12 18:29] ahmetb commented on #343
If you were referring to the lack of `-d` in my command, please consider updating README.md to add it.

[2017-12-12 18:38] tamalsaha commented on #297
Thank @liggitt @munnerz . I have used a separate indexer to keep track of deleted items. Here is what my modification looks like https://github.com/tamalsaha/workqueue-demo/pull/1/files . If you have any comments, please let me know in the pr.

[2017-12-12 22:18] ericchiang commented on #343
This should be fixed now that https://github.com/kubernetes/kube-openapi/pull/28 is merged.

[2017-12-14 07:59] prithviramesh commented on #331
I'm not able to glide install client-go v5.0.0 with the same error

[2017-12-15 10:20] destructive-dragon opened #344 "glog requires flag.parse() else it will error"
This issue got fixed in https://github.com/kubernetes/kubernetes/issues/17162, would be great if we could fix it here as well!

[2017-12-15 23:38] r0fls opened #345 "panic: No Auth Provider found for name "oidc""
The out of cluster config example no longer works for me. I believe it was recently so I'm not sure what changed. I get this error:

[code]

I am able to list the nodes:

[code]

I tried doing https://github.com/coreos/tectonic-forum/issues/99#issuecomment-295458740

But then I just get this, as expected:

[code]

[2017-12-15 23:46] ericchiang commented on #345
The format is

[code]

[2017-12-15 23:46] ericchiang commented on #343
/close

[2017-12-15 23:46] #343 closed

[2017-12-16 01:28] r0fls commented on #345
whoops, thank you!

[2017-12-16 01:28] #345 closed

[2017-12-18 10:15] mactr0n opened #346 ""create-update-delete-deployment" example outdated"
The "create-update-delete-deployment" example seems to be outdated because
`RollbackTo` of `v1beta1.DeploymentSpec` is deprecated.

There example should be updated using `Rollback` of `v1beta1.DeploymentExpansion`.

[2017-12-19 07:20] jackchee opened #348 "how to get image within deployment, like the result of "kubectl describe deployment $app"?"

[2017-12-19 14:41] nikhita commented on #320
/close

[2017-12-19 14:41] #320 closed

[2017-12-19 14:44] nikhita commented on #111
https://github.com/kubernetes/client-go/pull/275, https://github.com/kubernetes/client-go/pull/313, https://github.com/kubernetes/client-go/pull/317, https://github.com/kubernetes/client-go/pull/341 update the CHANGELOG and it is now upto date.

[2017-12-19 17:12] nikhita commented on #301
Syncing is back in action with https://github.com/kubernetes/publishing-bot. 🎉

/close

[2017-12-19 17:12] #301 closed

[2017-12-20 09:21] timoreimann commented on #348
Just do a `Get()` on deployment _$app_ and retrieve the image field from the Pod spec embedded inside the Deployment response.

I can probably put together or point at a quick example if that's helpful.

[2017-12-20 22:20] vjsamuel opened #351 "Add HTTP proxy setting to kubeconfig"
Whilst managing several Kubernetes clusters, there could be potential scenarios where certain clusters require the usage of an HTTP proxy to be accessible. It would be useful to have http-proxy as a per cluster setting on the kube config so that it is easy to talk to clusters that require and don't require the usage of a proxy.

[2017-12-22 05:54] nikhita commented on #126
@HakShak Is this still relevant?

If it's a problem affecting anyone who uses client-go on Windows, we should probably fix this ASAP...

[2017-12-22 16:35] seh commented on #155
/remove-lifecycle stale

[2017-12-22 18:38] kargakis commented on #131
/lifecycle frozen

[2017-12-22 23:48] peterbourgon commented on #2
The state of the world hasn't changed; libraries still _cannot_ vendor dependencies.

/remove-lifecycle stale

[2017-12-23 14:55] seh commented on #170
This request is now obsolete. Helm no longer uses the aforementioned packages.

[2017-12-23 14:55] #170 closed

[2017-12-24 09:50] AlexShemeshWix opened #352 "Fake Clientset and cache.ListWatch"
Hi
I have project that uses cache.ListWatch to monitor k8s Deployments.
I want to create tests for my projects.
im creating cache.ListWatch with NewListWatchFromClient and im passing  it to cache.NewInformer

[code]

It fails when i call eController.Run(stopChan) at here
github.com/wix-private/hdc3/conductor/vendor/k8s.io/client-go/rest.(*RESTClient).Verb at client.go:222

[code]

c is nil.
As far

[2017-12-24 10:24] thkoch2001 commented on #161
/lifecycle frozen

[2017-12-26 04:36] nikhita commented on #60
TPRs have been removed for good and CRDs don't face this problem anymore.

In case you face a problem with CRDs, please open an issue at https://github.com/kubernetes/apiextensions-apiserver since the client exists there.

Closing.
/close

[2017-12-26 04:36] #60 closed

[2017-12-26 04:53] nikhita commented on #191
@ahmetb Do you face this problem with CRDs (using the sample controller) as well?

To be clear, a delay still exists with CRDs. Also, see https://github.com/kubernetes/website/pull/6660.

TPRs have been removed for good from client-go and have been moved into apiextensions-apiserver.

Closing. Please reopen if you still face the problem with CRDs.

/close

[2017-12-26 04:53] #191 closed

[2017-12-26 05:02] nikhita commented on #201
@lth2015 No, sadly there is not client-go version compatible with Kubernetes 1.2.

Please see https://github.com/kubernetes/client-go#compatibility-matrix for versions that are compatible.

Side note: client-go 3.0 and below are deprecated so please consider using Kubernetes 1.7 and above, if possible. :)

[2017-12-26 05:03] nikhita commented on #201
Closing. Please reopen if you still face any issues.

/close

[2017-12-26 05:03] #201 closed

[2017-12-26 09:09] pavel-khritonenko opened #353 "Azure authentication fails on acquiring consequent tokens"
We use `kubectl` with Azure authentication provider, and our devs are facing issue when `access-token` expired.

    $ kubectl get pods
    E1226 11:52:13.723835   16281 azure.go:126] Failed to acquire a token: refreshing the expired token: refreshing token: adal: Refresh request failed. Status Code = '400'
    Unable to connect to the server: acquiring a token for authorization header: refreshing

[2017-12-27 12:56] nikhita commented on #111
The current [`CHANGELOG`](https://github.com/kubernetes/client-go/blob/master/CHANGELOG.md#v600) mentions the breaking changes in detail.

Closing. Please reopen if you think more details are needed.

/close

[2017-12-27 12:56] #111 closed

[2017-12-28 12:17] oonisim commented on #311
@liggitt may I ask why autogenerated /var/lib/kubelet/pki/kubelet.crt includes the CA:TRUE if the certificate cannot be used as a CA as per https://bugzilla.mozilla.org/show_bug.cgi?id=1049176?

            X509v3 Basic Constraints: critical
                CA:TRUE

[2017-12-28 17:17] liggitt commented on #311
If it doesn't, go will not allow specifying the cert as a trust root

[2017-12-29 00:30] asridharan opened #354 "Need example to use `informers` package to listen to pod events"
I followed this example:
https://gist.github.com/ctaggart/deba294becac3c14678c1c04df2cd089

Which seems to be relevant here, but I am unable to import:
"k8s.io/kubernetes/pkg/api"
with golang 1.8?

Is there a documentation of how the Resource Handlers emanate objects and what go structs these objects map to. The documentation is horrendous in this regard !!

[2017-12-29 20:55] oonisim commented on #311
@liggitt please correct if I misunderstand.

As in [Switch to wget for integration apiserver checks (#1384)](https://github.com/kubernetes-incubator/service-catalog/commit/11f18f3d17a4ab5d4789ff38ce3f320edf5d77d2), the certificate includes the certificate extensions below.

            X509v3 Key Usage: critical
                Digital Signature, Key Encipherment, Certificate Sign
            X509

[2018-01-02 11:36] nikhita commented on #231
This is fixed now and the README and CHANGELOG are updated.

Closing.
/close

[2018-01-02 11:36] #231 closed

[2018-01-02 19:54] DavidHuie commented on #18
/remove-lifecycle stale

[2018-01-02 19:55] DavidHuie commented on #18
I would also appreciate having this feature. We're currently building tooling around client-go without using glog, so we would love to have the ability to override it.

[2018-01-03 16:20] spoptchev opened #355 "Secret EnvVar cannot be set"
Hello,

I am getting the following message when I try to set a secret as an `EnvVar`:

[code]

The code used to generate the `EnvVar` is:

[code]

As you can see I am not setting any `Value` here. And as I can see from the code:

[code]

`Value` should be omitted if it is empty, but it is not. Am I missing something here or is this a bug in the current implementation?

[2018-01-03 16:27] #74 closed

[2018-01-03 16:28] DirectXMan12 commented on #74
this is no longer needed, really.  We've got our own copy in Heapster for the moment, and that's "ok" until something changes with those APIs, since this issue isn't going anywhere.

[2018-01-03 16:52] spoptchev commented on #355
Ok, I found the issue. The env variables I was trying to set were previously defined with values. Trying to change type causes the error.

[2018-01-03 16:52] #355 closed

[2018-01-03 19:55] MikeSpreitzer commented on #279
The problem is still there but my guess is that nobody cares about release 3.0 now.

[2018-01-03 20:04] nikhita commented on #279
Yeah, officially, that's deprecated: https://github.com/kubernetes/client-go#compatibility-matrix.

[2018-01-03 21:58] #279 closed

[2018-01-03 21:58] MikeSpreitzer commented on #279
"Maintenance is manual, only severe security bugs will be patched"

[2018-01-04 04:39] ericchiang commented on #95
/close

[2018-01-04 04:39] #95 closed

[2018-01-04 17:51] discordianfish commented on #289
/remove-lifecycle stale

[2018-01-04 19:15] sttts commented on #234
/lifecycle frozen

[2018-01-07 17:54] alexellis commented on #251
Thanks @nikhita

[2018-01-07 17:56] #251 closed

[2018-01-07 17:56] alexellis commented on #251
/close

[2018-01-08 09:24] mhausenblas commented on #128
@ahmetb are you working on this? I'm iterating on http://using-client-go.cloudnative.sh and plan to PR when there's something substantial to share …

[2018-01-08 18:40] ahmetb commented on #128
@mhausenblas not actively. Happy to review more examples in line with the current ones or the bespoke list above.

[2018-01-08 21:44] kujenga opened #357 "LGPL License in this repository"
There is an LGPL license for code that is vendored in this repository:

https://github.com/kubernetes/client-go/blob/master/vendor/github.com/juju/ratelimit/LICENSE

It appears that this is inherited from the main Kubernetes repository:

https://github.com/kubernetes/kubernetes/blob/master/vendor/github.com/juju/ratelimit/LICENSE

Does this not "infect" use of the code in this repository in some w

[2018-01-08 21:57] thetristan commented on #352
@AlexShemeshWix I ran into a similar issue trying to test my controller code.

I worked around this by requiring a `cache.ListerWatcher` to be passed to the function under test instead of calling `cache.NewListWatchFromClient` within the function under test.

Here's how that looked for me: https://gist.github.com/thetristan/f0143f1f2760f1e42541172c51d7066e

[2018-01-11 13:18] sttts commented on #331
`k8s.io/client-go/pkg/apis/batch/v1` moved to `k8s.io/api/batch/v1`. After fixing the import, glide is happy. Closing this. Please reopen if you think there is still an issue.

[2018-01-11 13:18] #331 closed

[2018-01-12 07:38] krmayankk commented on #308
/remove-lifecycle stale

[2018-01-12 07:39] krmayankk commented on #308
@smarterclayton i am also seeing this issue. If you know how to fix it ,i would like to take a stab at it

[2018-01-12 07:39] krmayankk commented on #308
/assign @krmayankk

[2018-01-12 10:18] tyranteon opened #358 "glog terminates program when it can't create a logfile"
This is quite a big deal when using with containerized read-only environments. We should absolutely get rid of glog as it just calls `os.Exit(2)` if it can't create a file, killing our entire process.

A workaround would be to do all calls to glog inside a seperate process, which shouldn't be worth the hassle.

[2018-01-15 11:45] errordeveloper commented on #114
/remove-lifecycle stale

As shown above, there are in-flight PRs that reference this issues.

[2018-01-15 13:07] deads2k commented on #18
If we undertake the effort to switch logging frameworks, (It's not just going to be client-go), we need to have

1. flag compatibility - there are numerous "real" deployments using these.  Make the *optional* to register.
2. dynamic package log level changes
3. logging formatter pluggability (one size does NOT fit all)
4. logging handler pluggability (different sinks exist and have value)
5. loggi

[2018-01-15 14:48] bparees commented on #18
@deads2k that covers my wishlist, anyway.  I suppose rate limiting or de-duping might be nice options as well, but not must haves.

[2018-01-15 14:58] deads2k commented on #18
I agree those are nice to have.  I think that given pluggable filters and handlers it is possible to build de-duping and rate limiting.  Given pieces to build them, I won't block progress on not having them.

[2018-01-15 15:07] liggitt commented on #18
If you're wanting structured logs, then you really have to replace *all* usage of glog (even from our dependencies) in order to be useful ("almost all JSON" log output doesn't really do much good)

same comment about logger usage by dependencies

[2018-01-15 15:21] deads2k commented on #18
The same sort of argument would apply to `fmt` and to `capnslog` and whatever else other libraries do.  Formatting of most messages does help significantly (ie: I get `<package>.<file>` in 90% of messages) .  The same applies for handlers (I get a well present systemd log), getting 90% working really helps.

Mixing log4j and jsr47 doesn't work perfectly, but you don't have to have perfect coherenc

[2018-01-16 13:22] kweisamx opened #359 "Can't go get client with verision 6.0"
I use the `go get `to get the library, but it always say no finding like this,

[code]
is anything I lost? or Wrong?

I follow this [doc]( https://kubernetes.io/docs/tasks/administer-cluster/access-cluster-api/#go-client)

Kubernetes version is 1.9

[2018-01-17 18:22] #114 closed

[2018-01-19 20:11] hausdorff commented on #286
@ncdc Is there a way we can re-surface this issue? It would be _incredibly_ useful to be able to use this to `diff` what's in the cluster.

[2018-01-19 20:54] hausdorff commented on #286
@ncdc @anguslees Looks like this is resolved in client-go v6. This issue can probably be closed.

[2018-01-21 06:32] #359 closed

[2018-01-22 09:04] SmaugTheGreat commented on #18
In our projects, we have more that 80 services with countless of dependencies and so far we had no problem with structured logging (except from k8s/client-go). I found that usually dependencies just use the log.Logger interface for logging.

Could you make a list of dependencies that use glog?

[2018-01-22 10:57] sttts commented on #357
Can you move this discussion to https://github.com/kubernetes/steering/issues/21 ?

[2018-01-22 10:58] sttts commented on #354
"k8s.io/kubernetes/pkg/api" is probably k8s.io/api/core/v1 now.

[2018-01-22 23:33] ljnelson opened #360 "In delta_fifo.go, is it possible that deletions are dropped?"
Hello; thanks for Kubernetes and higher-order projects like this one!

I'm trying to understand `delta_fifo.go` in depth.  Consider this issue a question that may actually be a bug, but I'm not sure.  I hope this is the right way to bring up questions and issues like this; I've tried to do my homework in the Slack channel and elsewhere.  Feel free to close this or redirect me if I've made an obvio

[2018-01-23 09:42] sttts commented on #18
Technically you can reimplement `github.com/golang/glog` using another library, place the wrapper in your vendor/ dir and make e.g. golang/dep to point to your wrapper:

[code]

This way you won't hit the "go language defect" @lavalamp is referring to and client-go will use your logging library without any code change.

[2018-01-23 19:24] olttwa opened #361 "BackOffLimit missing for job spec"
According to the documentation for jobs(`https://kubernetes.io/docs/concepts/workloads/controllers/jobs-run-to-completion/#pod-backoff-failure-policy`)

In order to setup Pod Backoff failure policy, you need to add `BackOffLimit` to job's spec. The code for that is missing from golang client.

Is there a reason that's been left out? I'd like to contribute to kubernetes golang client if this is a r

[2018-01-24 19:38] denismakogon commented on #357
Okay, so, do we already know when the client would get rid of juju/ratelimit ?

[2018-01-24 19:56] sttts commented on #357
@denismakogon https://github.com/kubernetes/kubernetes/pull/38320

[2018-01-24 19:56] sttts commented on #357
@denismakogon some hours after the upper PR is merged, you see it here.

[2018-01-24 19:59] denismakogon commented on #357
@sttts thanks!

[2018-01-24 23:56] cjcullen commented on #213
I'm still trying to understand the root cause here, and I'm not quite sure how the persister fits into it. I think the persister does a write and swap, so it shouldn't be necessary to try to keep only one Persister per config in memory (and that wouldn't be helpful if multiple processes wanted to use the same file).

Initially, the persister was pretty broken for multi-thread or multi-process acce

[2018-01-25 00:39] gopinatht commented on #244
Guys, any update on bulk watch APIs?

[2018-01-25 15:09] #357 closed

[2018-01-25 15:09] kujenga commented on #357
Issue moved to [kubernetes/steering #23](https://github.com/kubernetes/steering/issues/23) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-26 06:14] liggitt commented on #338
same root cause as #58545, fixed in #58547

delete events were sending the incorrect resource version. that would confuse the informer, which keeps track of the last resourceVersion it sees, so it can restart watches from that resourceVersion.

[2018-01-26 06:14] liggitt commented on #338
/close

[2018-01-26 06:14] #338 closed

[2018-01-26 22:15] Huang-Wei commented on #338
thanks @liggitt ! It seems the fix goes to apiserver side, so which Kubernetes release/tag contains this fix?

[2018-01-27 01:26] liggitt commented on #338
It has been picked to release branches and will be available in 1.7.13, 1.8.8, and 1.9.3

[2018-01-29 08:02] tamalsaha opened #362 "Move ReconcileRoleOptions to client-go ?"
Currently we use PATCH to update Roles from my CRD controllers. Instead, we would like to use the `auth reconcile` functionality, since it is safer. But this functionality in the main Kube repo.
https://github.com/kubernetes/kubernetes/blob/master/pkg/registry/rbac/reconciliation/reconcile_role.go#L97:10

It will be great if we can use this functionality without needing to depend on the main repo.

[2018-01-29 08:26] yuan-make opened #363 "Excpetion About codec.EncodeParameters()"
When I want use exec method  and  write one  like kubectl exec.
Always Respone me
`you must specify at least 1 of stdin, stdout, stderr`
And I debug
code : `func ExecWithOptions(kubeconfig string, ClientSet *kubernetes.Clientset, options ExecOptions) (string, string, error) {
	beego.Info("ExecWithOptions %+v", options)

	var err error
	//	config, err := restclient.InClusterConfig()
	config, err :=

[2018-01-29 08:31] yuan-make commented on #363
And  Cient-go  Version is v6.0.0 ~

[2018-01-29 12:29] liggitt commented on #362
It makes use of internal api versions which are not available to client-go. What roles are you updating?

[2018-01-29 12:49] tamalsaha commented on #362
These are CRD controller specific roles .

[2018-01-30 10:03] ffledgling commented on #79
It'd still be really nice to have this, but looks like it got drowned in the noise. :/

[2018-01-30 10:10] nikhita commented on #79
/remove-lifecycle rotten

[2018-01-30 12:05] shyamjvs commented on #222
/remove-lifecycle rotten

[2018-01-30 14:54] sttts commented on #79
kubernetes/kubernetes#48384 is merged.

For what do we need cloud.google.com/go ?

[2018-01-31 15:41] ingvagabund opened #364 "[RFE] extend the ObjectTracker with Patch action"
PATCH action handled by `fake.NewSimpleClientset` is currently silently ignored. It would be great to implement that as well as part of the `ObjectTracker` interface [1]. Checking the code briefly, it is not trivial but it should be still doable. Just wire necessary pieces and call ` strategicpatch.StrategicMergeMapPatch` as a starter.

[1] https://github.com/kubernetes/client-go/blob/4b76cf9824ec

[2018-02-01 05:40] ericchiang commented on #213
I actually didn't know this. You're right that the clientCache may be outdated now. Let me investigate when I get a chance.

[2018-02-01 15:32] jekohk commented on #346
@mactr0n good catch. I'll get that updated

[2018-02-02 16:16] simongormley commented on #352
I've hit this too - looks like it could be caused by the faked core client not initializing createBackoffMgr in the struct, or using NewRESTClient which does set it https://github.com/kubernetes/client-go/blob/master/rest/client.go#L124

Faked code that may not be correct:
https://github.com/kubernetes/client-go/blob/d8b352f6b2b31a09b86fa7d14b7e70ccb77590cd/kubernetes/typed/core/v1/fake/fake_core_

[2018-02-02 18:46] rcorre commented on #331
Thanks, that got me further (I also had to rename `k8s.io/client-go/pkg/api/v1` to `k8s.io/api/core/v1`).

I'm now hitting:

[code]

I'll open a new ticket if I can't figure that one out...

[2018-02-02 19:16] rcorre commented on #331
Turns out my subsequent issue is specific to helm: https://github.com/kubernetes/helm/issues/3445

[2018-02-03 03:40] daxzhuo commented on #192
I came across this problem recently, I have multiple kubeconfig file, but I don't want to reload the files every time I change context. So I look in the client-go code and I do it this way.
[code]
It work for me, but not sure it's the right way.

[2018-02-05 17:08] mhindery commented on #193
I am trying a similar thing and am completely lost. What packages are moved to where? I've read the `scheme.Codecs.*` are not supposed to be used anymore, and I have no clue what to import.

My goal is to read a yaml file with a list of rolebindings into a client-go structure, and there seem to be no possibility to do so, and no documentation at all. There are some SO questions, but none have an a

[2018-02-05 18:40] christianhuening commented on #193
@mhindery https://github.com/kubernetes/client-go/issues/193#issuecomment-343138889 doesn't work anymore?

[2018-02-05 18:44] sttts commented on #193
The packages have changes. The codec to use is https://github.com/kubernetes/client-go/blob/master/kubernetes/scheme/register.go#L55. But otherwise, not much has changed.

[2018-02-05 20:15] tamalsaha commented on #286
Is there a way to pass these extra paramneters in `kubectl get <>` ?

[2018-02-05 22:18] mhindery commented on #193
While I can read the file using the method above, I never get into the case in the switch with the correct type. Using this file

[code]

I get this output:

[code]

The object I end up with is of the type `runtime.Object` and I don't see anywhere how to convert this to my desired type (the ClusterRoleBindingList). From the printed output, I can see the object has the fields `items` / `typemeta` /

[2018-02-05 22:37] thomastaylor312 commented on #308
I don't think the Kind is returned either with `List`

[2018-02-06 01:29] ericuldall opened #365 "Autoscaling Examples"
Hello,

I'm looking for some examples on how to interact with the autoscaling api using this client. Is there any recommended documentation for this?

My current use cases would be:

1. List HPA's
2. Edit HPA's
3. Attach methods to HPA Informer() Event Handlers

Also, we have multiple clusters with different versions of the HPA. Will the go client handle backward compatibility from the newest vers

[2018-02-06 05:52] christianhuening commented on #193
@mhindery As your error statets your `(...) runtime.Object is *v1.List, not *v1.ClusterRoleBindingList`, so I guess you should first switch case for v1.List and then look into the items of that list.
I don't use that list type, but have a single file, where each entry is separated via `---`.
Here's my parseK8sYaml(...):

[code]

[2018-02-06 14:52] anubhakushwaha commented on #346
@sttts @jekohk I would like to work on this issue

[2018-02-06 15:21] jekohk commented on #346
@anubhakushwaha feel free to pick this up. Let me know if you have any questions but it should be pretty straightforward.

[2018-02-06 22:51] ericuldall commented on #365
I was able to get it working using the following client:
[code]

Even though I'm using `AutoscalingV1` I'm still able to interact with a `V2beta1` object. Is there any pitfalls I should watch for when doing this?

[2018-02-07 16:01] aakp10 commented on #351
I've been looking into this issue ,I'd like to work on this

[2018-02-07 20:17] nikhita commented on #346
`apps/v1` deployments are GA so the example should be updated to it.

[2018-02-07 20:18] nikhita commented on #346
@anubhakushwaha You can use https://github.com/kubernetes/kubernetes/pull/58446 as a reference.

[2018-02-07 20:18] nikhita commented on #346
/help

[2018-02-07 20:20] nikhita commented on #346
oops

/remove-help

since already assigned to @anubhakushwaha

[2018-02-07 20:22] nikhita commented on #346
@anubhakushwaha When deployments are updated to use `apps/v1`, we should probably end up documenting this as well (see https://github.com/kubernetes/kubernetes/pull/59104).

[2018-02-08 09:09] orkun1675 commented on #266
/close

[2018-02-08 09:10] #266 closed

[2018-02-08 13:00] grpndrs commented on #354
@sttts I tried to get the example running. But it is stuck on some weird error. I cannot find any useful documentation or anyone running into same the issue. Can you please help me?

source: https://github.com/grpndrs/client-go/commit/4bb014775e7105104bc89a12b49afe9ce95dff88
error: https://gist.github.com/grpndrs/3de3065814f28a442c668b06b4e41f1d

[2018-02-08 13:32] sttts commented on #354
Yes, never import "k8s.io/kubernetes/*. For vendoring we have the k8s.io/api, client-go, apimachinery.... repos.

[2018-02-08 13:33] sttts commented on #354
Your gist confirms that you mix k8s.io/kubernetes and k8s.io/client-go.

[2018-02-09 04:27] madari opened #366 "Cache Informer sets ResourceVersion=0 which causes API list chunking to break"
/kind bug

**What happened**:

Something in the way the cache ListWatch/Informer machinery sets ResourceVersion="0" breaks API chunking when listing pods.

It seems that the API server ignores the limit parameter when ResourceVersion = "0". It's not clear what the actual issue here is.

In contrast, `kubectl` does not appear to set ResourceVersion for the first GET request.

Is there a semantic di

[2018-02-09 08:57] sathieu commented on #78
Hi,
Any news on this?

[2018-02-09 09:03] sttts commented on #78
Yes, we are actively working on creating a Gopkg.toml inside of client-go during publishing. Some more patience please. We finally make progress.

[2018-02-09 09:15] aakp10 commented on #351
Does this issue require to add something like [this](https://github.com/kubernetes/kubernetes/blob/05944b1d2ca7f60b09762a330425108f48f6b603/staging/src/k8s.io/client-go/tools/clientcmd/client_config.go#L190) for the http-proxy , where details like the port and the ip on which the proxy server is running can be stored in a struct type and stored in the kubeconfig for the cluster.

[2018-02-09 16:02] anubhakushwaha commented on #346
@nikhita @jekohk I researched around the code and need some help, since we have moved from v1beta1 to v1, I was figuring out how to incorporate DeploymentRollBack as it's no longer a supported API object of v1. [K8s Doc](https://kubernetes.io/docs/reference/generated/federation/v1/definitions/) Any help with how to proceed will be really great. Thanks

[2018-02-09 16:09] bostrt commented on #308
The k8s REST API does not provide the `Kind` value. `kubectl` (or one of its dependencies) inserts the `Kind` information. Perhaps the code that figures the `Kind` info can be moved to `client-go`? Just for example, [see `get` cmd](https://github.com/kubernetes/kubernetes/blob/master/pkg/kubectl/cmd/resource/get.go#L555-L647) and how it inserts the `List` value.

[2018-02-09 16:27] jekohk commented on #346
Hi @anubhakushwaha
I believe you need to use the `Rollback` function from the [DeploymentExpansion](https://github.com/kubernetes/client-go/blob/master/kubernetes/typed/extensions/v1beta1/deployment_expansion.go) interface in `extensions/v1beta1`

[2018-02-10 05:20] liggitt commented on #366
This is working as intended as far as the chunking behavior is concerned. The server will not return a `continue` token that conflicts with a resourceVersion you specify.

Yes, "" is unspecified and leaves the server free to return a continue token pinned to the current resourceVersion. "0" means "serve the current version held by the API server cache", which could not be counted on to be consiste

[2018-02-10 17:25] madari commented on #366
@liggitt Thanks for the clarification. In the interim while reflectors aren't doing chunking, is doing `if options.ResourceVersion == "0" { options.ResourceVersion = "" }` as a workaround (see the commented lines above) a safe operation in the sense that the store will get synced to a good state?

[2018-02-10 19:17] smarterclayton commented on #366
Yes I did know.  When watch cache is on hitting the watch cache is faster than chunking.  When watch cache is off etcd serves chunks (0 means nothing to etcd layer).  Watch cache initial establishment hits etcd with chunking on (or at least it should), which prevents super large reads from etcd from dying.

At some point watch cache chunking probably makes sense but it’s more expensive to implemen

[2018-02-11 21:10] liggitt commented on #366
If you make your lists avoid sending resourceVersion=0, that shouldn't cause any correctness issues

[2018-02-12 07:34] sttts commented on #291
duplicate of https://github.com/kubernetes/kubernetes/issues/46503
/close

[2018-02-12 07:34] #291 closed

[2018-02-12 07:37] sttts commented on #325
@danderson is this still a problem? Feel free to submit a PR.

/remove-lifecycle stale

[2018-02-12 08:30] sttts commented on #232
/close

[2018-02-12 08:30] #232 closed

[2018-02-13 03:20] hongchaodeng opened #367 "Remove objectType/expectedType as parameter in Informer/Reflector constructor"
It is weird and cumbersome to add `&Pod{}` as parameter in constructor of Informer. Digging further, the objectType is used for logging and runtime type checking:

https://github.com/kubernetes/client-go/blob/7cd1d3291b7d9b1e2d54d4b69eb65995eaf8888e/tools/cache/reflector.go#L385

Is that right? If so, this is unnecessary from user's perspective, and adds another parameter to constructing informer.

[2018-02-13 15:29] aakp10 commented on #344
I'm working on this issue ,
is there a single file where all the go flags can be set because I'm planning to add the flag in all the files in client go where the logs are being noisy?

[2018-02-13 17:48] huydinhle commented on #193
@christianhuening  Thanks for your solution. I am having a hard time to convert the runtime.Object to let's say something like v1.ConfigMap. Any suggestion?

[2018-02-13 18:47] caesarxuchao commented on #367
It prevents the user from accidentally constructing informers with list/watch functions of wrong types.

Unless there is a strong reason we should avoid making backwards incompatible changes. Please reopen if you think there is one.

[2018-02-13 18:47] #367 closed

[2018-02-13 19:06] hongchaodeng commented on #367
Is it possible to add new API?

[2018-02-13 19:09] hongchaodeng commented on #367
It already watches specific resources ("pods"), right? Isn't it enough to assume the returned types to be 'Pod'?

[2018-02-13 19:21] caesarxuchao commented on #367
The signature is:
[code]

`ListerWatcher` doesn't specify the type, it can be passed from other functions. Human error can occur.

[2018-02-14 14:27] lucasponce opened #368 "Excessive "Throttling request took..." logging"
Hello,
Apologizes if this is not the way to report/ask for a technical question.

Using the API to query services like

[code]

is showing a high logging messages like

[code]
I wonder if this could be:
- a pure local environment on my testing machine
- or, we are not refining the query (we use empty options for GET and LIST)
- or, is there any best practice from the client side ?

Thanks,
Lucas P

[2018-02-15 18:18] amandahla opened #369 "[Question] Example to cp file Kubernetes Container (POD)"
Is it possible to do it using client-go?

Should I use something like this?

[code]

[2018-02-16 04:08] anubhakushwaha commented on #325
@sttts @nikhita Wasn't this updated [here](https://github.com/kubernetes/client-go/commit/5e622f37cd6ed5eebbb179245ac94fa895577c4a#diff-681659ab9abb4b4883e78e8aaa980dbaL283), let me know if I misunderstood something.

[2018-02-16 05:20] nikhita commented on #325
@anubhakushwaha That's right. 👍

The current version is at `670d4cfef0544295bc27a114dbac37980d83185a`, which is from [July 2017](https://github.com/go-yaml/yaml/commit/670d4cfef0544295bc27a114dbac37980d83185a).

Closing.

/close

[2018-02-16 05:20] #325 closed

[2018-02-16 11:16] AishwaryaRK commented on #326
I've tested the same functionality of filtering pods based on FieldSelector and LabelSelector using fake clientset and it was filtering the pod.

[2018-02-16 15:37] FaKod opened #370 "portforward.go:331] an error occurred forwarding"
K8s 1.9.3 kubectl on MacOS (to 1.9.3 K8s Cluster on Container Linux)

Doing a simple port-forward (f.e. to tiller) on my mac bash results in:

[code]
This exception occurs only after trying to send data.

Any idea what can be the cause of this?

Complete log:
[code]

[2018-02-17 09:05] FaKod commented on #370
ok, the reason for this:

- empty /etc/hosts file in kubelet container (rkt on Container Linux)
- because of a missing "--hosts-entry host" in the kubelet-wrapper script

[2018-02-17 09:05] #370 closed

[2018-02-19 19:22] BugRoger commented on #330
/close

[2018-02-19 19:22] #330 closed

[2018-02-20 05:26] #107 closed

[2018-02-20 05:26] #57 closed

[2018-02-20 06:26] #34 closed

[2018-02-20 06:27] #32 closed

[2018-02-20 06:27] #35 closed

[2018-02-20 06:27] #42 closed

[2018-02-20 06:27] #126 closed

[2018-02-20 07:46] sttts commented on #107
We do some smoke testing here: https://github.com/kubernetes/publishing-bot/blob/master/configs/kubernetes-rules-configmap.yaml#L144

[2018-02-20 08:29] #90 closed

[2018-02-20 16:37] #149 closed

[2018-02-20 18:39] #142 closed

[2018-02-20 18:39] #148 closed

[2018-02-20 20:41] #162 closed

[2018-02-21 00:45] #173 closed

[2018-02-21 05:50] #176 closed

[2018-02-21 10:54] #180 closed

[2018-02-22 08:16] #187 closed

[2018-02-22 08:16] #188 closed

[2018-02-22 15:23] #196 closed

[2018-02-23 08:34] #311 closed

[2018-02-23 21:52] #152 closed

[2018-02-23 23:54] #200 closed

[2018-02-25 12:30] #207 closed

[2018-02-25 14:32] #208 closed

[2018-02-26 12:10] trunet opened #371 "crypto/x509: verification fails with "cannot parse dnsName" in intermediate"
Loading an intermediate certificate, is generating this error:
[code]

My intermediate CA generated by hashicorp vault, contains:
[code]

This will probably be fixed on https://github.com/golang/go/issues/23995

[2018-02-27 01:06] #214 closed

[2018-02-27 08:07] sttts commented on #371
So this is no client-go error, but Go?

[2018-02-27 18:06] ericchiang commented on #371
"Trunet.co AMS Kubernetes Intermediate CA" doesn't look like a DNS name. Why would you want that value as a SANs DNS?

It sounds like this is getting fixed in 1.10.1. Since you can work around this today by making your DNS values look like actual DNS values, I don't think we should provide an external work around.

[2018-02-27 18:08] trunet commented on #371
from: https://github.com/golang/go/issues/23995#issuecomment-368784560

[2018-02-27 21:26] #217 closed

[2018-02-28 09:04] xiangpengzhao opened #372 "Support "DeleteByKey" for "Store interface""
The interface has `Get` and `GetByKey`, but it only has `Delete` for deletion. It would be great to support `DeleteByKey`.

https://github.com/kubernetes/client-go/blob/8aceb98010c1c18b6b54a35b52fd5b46905e3d7f/tools/cache/store.go#L34-L48

Guess this might influence some downstream codes if we support this.

/cc @caesarxuchao @deads2k

[2018-02-28 09:19] nikhita commented on #346
/assign @k8s-external-contributor

[2018-02-28 14:43] #220 closed

[2018-03-01 03:56] #209 closed

[2018-03-01 08:05] xiangpengzhao commented on #372
After another look, seems like the function `DeleteByKey` is covered by `Delete`, right? i.e., users can use `Delete(key)` to delete by the key.

[2018-03-01 10:02] #235 closed

[2018-03-01 14:00] deads2k commented on #372
You can't pass it a key, but it is normally only used by our test code.  You have some specific case you're trying to solve unrelated to test code (which could do a get/delete) that needs handling?

[2018-03-01 20:54] davecramer commented on #204
the command will timeout if there is no response to stdout or stderr

[2018-03-02 01:33] andrewshilliday commented on #329
/remove-lifecycle stale
I can confirm that this happens running with linux clients using curl.  If the endpoint streams results back to the client, and the client (ie, curl) is terminated via ctrl-c, the port-forward does not respond to future requests until the timeout.

[2018-03-02 02:18] #45 closed

[2018-03-02 03:45] xiangpengzhao commented on #372
I have an internal tool whose server side hopes to use this cache mechanism. It can accept API request to delete an item but the request might only have the key, so I hope it can delete by key.

[2018-03-02 06:52] F21 opened #373 "Raft log replication support"
I have a few apps that uses the [hashicorp/raft](https://github.com/hashicorp/raft) library. Since these apps are running on kubernetes, I want to remove the `hashicorp/raft` library and lean on kubernetes.

There is currently the [tools/leaderelection](https://godoc.org/k8s.io/client-go/tools/leaderelection) package for handling leader election. However, I need to propagate other state to all my

[2018-03-02 08:24] #186 closed

[2018-03-02 15:31] #246 closed

[2018-03-02 16:38] lavalamp commented on #372
IIRC Delete should work on anything that it can get the key out of, as a
hack I think you can construct the DeletedFinalStateUnknown tombstone and
pass that...

On Thu, Mar 1, 2018 at 7:45 PM, Peter (XiangPeng) Zhao <
notifications@github.com> wrote:

[2018-03-05 03:02] xiangpengzhao commented on #372
Thanks @deads2k @lavalamp ! :+1:

[2018-03-05 03:02] #372 closed

[2018-03-05 18:11] roycaihw commented on #334
I found a flag description in [apiserver reference](https://kubernetes.io/docs/reference/generated/kube-apiserver/): `      --min-request-timeout int:                                 An optional field indicating the minimum number of seconds a handler must keep a request open before timing it out. Currently only honored by the watch request handler, which picks a randomized value above this number

[2018-03-05 18:37] lavalamp commented on #334
It sounds like the HTTP connection closed, and our watch code doesn't exit cleanly on EOF. (Or there's an error somewhere that isn't getting checked?)

As mentioned above, you can extend the timeout by passing a query parameter.

The automated way to handle this is to use the Reflector rather than directly calling Watch. There are multiple tricky cases and Reflector will handle them all for you.

[2018-03-05 20:06] jbw976 commented on #334
Interesting @lavalamp, do you have a link to examples using the Reflector that you mentioned?

The way that I ended up addressing this was to recreate the watcher, as seen in this function: https://github.com/rook/rook/blob/f06dd0009e4f04ea9484cf0ca99c091fac857faa/pkg/operator/cluster/ceph/osd/osd.go#L419

However, we got a report from a user this weekend that the newly recreated watcher object is

[2018-03-05 20:55] caesarxuchao commented on #334
Reflector handles the watch timeout in this function: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/client-go/tools/cache/reflector.go#L239

Most k8s controllers uses informers, which uses reflectors to sync with the apiserver. This [doc](https://github.com/kubernetes/community/blob/master/contributors/devel/controllers.md) and this [example](https://github.com/kubernetes

[2018-03-06 22:37] ericchiang commented on #213
/remove-lifecycle rotten

[2018-03-08 22:23] jfoy opened #374 "Client should expose a mechanism to close underlying TCP connections"
Re kubernetes/kubernetes#52176, kubernetes/kubernetes#56720, #342

(Short form: a stalled TCP connection to apiserver from kubelet or kube-proxy can cause ~15 minutes of disruption across a substantial number of nodes until the local kernel closes the socket.)

I believe we need a mechanism for `requestCanceler.CancelRequest` to invoke `transport.CloseIdleConnections` based on config. It looks lik

[2018-03-08 22:28] lavalamp commented on #374
Is this failure mode unique to HTTP/2 connections?